<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="stores">
    @import "header.html"
    <div class="container">
        <div class="bread">
            <a href="" class="header-menu-link bread-crumb active">stores</a>
        </div>
        <div class="stores-flex">
            <a href="#" class="stores-card">
                <img src="" alt="" class="stores-img">
                <p class="stores-link">
                    new orleans - french quarter
                    <svg class="stores-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </p>
            </a>
            <a href="#" class="stores-card">
                <img src="" alt="" class="stores-img">
                <p class="stores-link">
                    new orleans - french quarter
                    <svg class="stores-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </p>
            </a>
            <a href="#" class="stores-card">
                <img src="" alt="" class="stores-img">
                <p class="stores-link">
                    new orleans - french quarter
                    <svg class="stores-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </p>
            </a>
            <a href="#" class="stores-card">
                <img src="" alt="" class="stores-img">
                <p class="stores-link">
                    new orleans - french quarter
                    <svg class="stores-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </p>
            </a>
            <a href="#" class="stores-card">
                <img src="" alt="" class="stores-img">
                <p class="stores-link">
                    new orleans - french quarter
                    <svg class="stores-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </p>
            </a>
            <a href="#" class="stores-card">
                <img src="" alt="" class="stores-img">
                <p class="stores-link">
                    new orleans - french quarter
                    <svg class="stores-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </p>
            </a>

        </div>
        <div class="stores-bottom">
            <p class="stores-bold">NOT SEEING A STORE NEAR YOU? FIND US AT THESE SELECT RETAILERS</p>
        </div>
    </div>
    @import "footer.html"
</div>

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
