<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="visit">
    <div class="container">
        <div class="bread">
            <a href="#" class="bread-crumb">stores</a>
            <a class="bread-crumb active">NEW ORLEANS - FRENCH QUARTER</a>
        </div>
    </div>
    <img src="img/visit.jpg" alt="" class="visit-img_main">
    <section class="visit-first">
        <div class="container">
            <h4 class="visit-title">new orleans - magazine street</h4>
            <div class="visit-center">
                <div class="visit-first-block">
                    <div class="">
                        <p class="visit-first-name visit-mb-10">adress</p>
                        <p class="visit-first-address">1818 Magazine St New Orleans, LA</p>
                        <a href="tel:5043422462" class="visit-first-name">504 342 2462</a>
                    </div>
                    <div class="visit-first-name">
                        <a href="" class="visit-first-link">directions</a>
                    </div>
                </div>
                <div class="visit-first-block">
                    <div class="">
                        <p class="visit-first-name visit-mb-10">hours</p>
                        <p class="visit-first-name">MON-SAT
                            <span class="visit-first-span">10am - 7pm</span>
                        </p>
                        <p class="visit-first-name">SUN
                            <span class="visit-first-span">12pm - 6pm</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="visit-first-name">
                <a href="" class="visit-first-link">directions</a>
            </div>
        </div>
    </section>
    <section class="visit-second">
        <div class="container">
            <h4 class="visit-second-title">
                the doc is in
            </h4>
            <p class="visit-text">Get a complimentary comprehensive eye exam with our in-house
                optometrist Dr. Kim Ta, when you purchase frames and lenses at KREWE.
                Book your eye exam appointment now.</p>
            <a href="#" class="btn visit-btn">book</a>
        </div>
    </section>
    <section class="visit-third">
        <div class="container">
            <div class="visit-slider">
                <div class="visit-slider-item">
                    <img src="img/visit.jpg" alt="" class="visit-img">
                </div>
                <div class="visit-slider-item">
                    <img src="img/visit.jpg" alt="" class="visit-img">
                </div>
                <div class="visit-slider-item">
                    <img src="img/visit.jpg" alt="" class="visit-img">
                </div>
            </div>
            <div class="visit-flex visit-third-container">
                <div class="visit-third-item">
                    <h4 class="visit-title">the space</h4>
                    <p class="visit-text">
                        Along the Lower Garden District’s historic, tree-lined streets sits our Magazine storefront, an optical-centric concept space crafted with the goal of giving an alternative to a traditional doctor’s office.
                    </p>
                </div>
                <div class="visit-third-item">
                    <h4 class="visit-title">eye exams</h4>
                    <p class="visit-text">
                        Has your prescription expired? <br> Book an eye exam with Dr. Ta. Our optical program unites experience<br>and hospitality with ease (did we mention it includes a glass of<br>sparkling rosé or kombucha?).
                    </p>
                </div>
                <div class="visit-third-item">
                    <h4 class="visit-title">custom frames</h4>
                    <p class="visit-text">
                        Our team of eyewear specialists<br>can make adjustments to the arms<br>and temple tips of your frames for<br>a truly customizable fit, in addition <br>to filling your frames with a variety<br> of prescription lens offerings.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="visit-fourth">
        <div class="fourth-flex">
            <div class="fourth-item">
                <div class="fourth-item-block"></div>
                <div class="fourth-item-block"></div>
                <div class="fourth-item-block"></div>
                <div class="fourth-item-block"></div>
            </div>
            <div class="fourth-center">
                <p class="fourth-center-text">SHOP OUR INSTAGRAM</p>
                <a href="" class="fourth-center-link">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 4C11 1.8 9.2 0 7 0C4.8 0 3 1.8 3 4H0V13.5C0 14.9 1.1 16 2.5 16H11.5C12.9 16 14 14.9 14 13.5V4H11ZM7 1C8.7 1 10 2.3 10 4H4C4 2.3 5.3 1 7 1ZM13 13.5C13 14.3 12.3 15 11.5 15H2.5C1.7 15 1 14.3 1 13.5V5H13V13.5Z" fill="#1D1D1B"/>
                        <path d="M4 6.19995H3V7.19995H4V6.19995Z" fill="#1D1D1B"/>
                        <path d="M11 6.19995H10V7.19995H11V6.19995Z" fill="#1D1D1B"/>
                    </svg>
                </a>
            </div>
            <div class="fourth-item">
                <div class="fourth-item-block"></div>
                <div class="fourth-item-block"></div>
                <div class="fourth-item-block"></div>
                <div class="fourth-item-block"></div>
            </div>
        </div>
    </section>

</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
