<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="reviews">
    <div class="reviews-container">
        <h2 class="reviews-title">reviews</h2>
        <div class="reviews-flex-center">
            <div class="star">
                <a href="" class="jq-star"> </a>
                <a href="" class="jq-star"> </a>
                <a href="" class="jq-star"> </a>
                <a href="" class="jq-star"> </a>
                <a href="" class="jq-star"> </a>
            </div>
            <span class="reviews-numbers reviews-numbers-center">4.8</span>
            <span class="reviews-numbers">155 reviews</span>
        </div>
        <div class="reviews-link-btn">
            <a href="" class="reviews-link">write a review</a>
        </div>
        <div class="reviews-content">
            <div class="reviews-item">
                <div class="reviews-flex">
                    <div class="reviews-left">
                        <div class="star">
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                        </div>
                        <p class="reviews-date">
                            04/17/2019
                            <span class="reviews-name">Robin h.</span>
                        </p>
                    </div>
                    <div class="reviews-right">
                        <p class="reviews-text">
                            People stop me on the street. They tell me in stores . Random strangers. My dentist. They notice the gold hardware.. but above all... they notice that these glasses look like they were custom made for me... my hair, my face. They are like beautiful jewelry. Thank
                            <br> you!!!!!!!!
                        </p>
                    </div>
                </div>
                <div class="reviews-bottom">
                    <p class="reviews-text">Was this review helpful?</p>
                    <button class="reviews-bottom-like">
                        <svg class="reviews-like" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 9.5455H1.81818V4.09095H0V9.5455ZM10 4.5455C10 4.0455 9.59091 3.63641 9.09091 3.63641H6.22727L6.68182 1.5455C6.68182 1.50004 6.68182 1.45459 6.68182 1.40914C6.68182 1.22732 6.59091 1.0455 6.50002 0.909135L6 0.45459L3 3.45459C2.81818 3.59095 2.72727 3.81823 2.72727 4.09095V8.63641C2.72727 9.13641 3.13636 9.5455 3.63636 9.5455H7.72727C8.09091 9.5455 8.40909 9.31823 8.54545 9.00004L9.90909 5.77275C9.95455 5.68184 9.95455 5.54548 9.95455 5.45457V4.54548H10C10 4.59095 10 4.5455 10 4.5455Z" fill="black"/>
                        </svg>
                        <div class="reviews-bottom-good">0</div>
                    </button>
                    <button class="reviews-bottom-like">
                        <svg class="reviews-like" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0.454501H1.81818V5.90905H0V0.454501ZM10 5.4545C10 5.9545 9.59091 6.36359 9.09091 6.36359H6.22727L6.68182 8.4545C6.68182 8.49996 6.68182 8.54541 6.68182 8.59086C6.68182 8.77268 6.59091 8.9545 6.50002 9.09086L6 9.54541L3 6.54541C2.81818 6.40905 2.72727 6.18177 2.72727 5.90905V1.36359C2.72727 0.863592 3.13636 0.454501 3.63636 0.454501H7.72727C8.09091 0.454501 8.40909 0.681774 8.54545 0.999956L9.90909 4.22725C9.95455 4.31816 9.95455 4.45452 9.95455 4.54543V5.45452H10C10 5.40905 10 5.4545 10 5.4545Z" fill="black"/>
                        </svg>
                        <div class="reviews-bottom-bad">0</div>
                    </button>
                </div>
            </div>
            <div class="reviews-item">
                <div class="reviews-flex">
                    <div class="reviews-left">
                        <div class="star">
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                        </div>
                        <p class="reviews-date">
                            04/17/2019
                            <span class="reviews-name">Robin h.</span>
                        </p>
                    </div>
                    <div class="reviews-right">
                        <p class="reviews-text">
                            Have purchased 7 pairs of Krewe glasses and every pair is gorgeous. I constantly receive compliments on the uniquness of the glasses.
                        </p>
                    </div>
                </div>
                <div class="reviews-bottom">
                    <p class="reviews-text">Was this review helpful?</p>
                    <button class="reviews-bottom-like">
                        <svg class="reviews-like" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 9.5455H1.81818V4.09095H0V9.5455ZM10 4.5455C10 4.0455 9.59091 3.63641 9.09091 3.63641H6.22727L6.68182 1.5455C6.68182 1.50004 6.68182 1.45459 6.68182 1.40914C6.68182 1.22732 6.59091 1.0455 6.50002 0.909135L6 0.45459L3 3.45459C2.81818 3.59095 2.72727 3.81823 2.72727 4.09095V8.63641C2.72727 9.13641 3.13636 9.5455 3.63636 9.5455H7.72727C8.09091 9.5455 8.40909 9.31823 8.54545 9.00004L9.90909 5.77275C9.95455 5.68184 9.95455 5.54548 9.95455 5.45457V4.54548H10C10 4.59095 10 4.5455 10 4.5455Z" fill="black"/>
                        </svg>
                        <div class="reviews-bottom-good">0</div>
                    </button>
                    <button class="reviews-bottom-like">
                        <svg class="reviews-like" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0.454501H1.81818V5.90905H0V0.454501ZM10 5.4545C10 5.9545 9.59091 6.36359 9.09091 6.36359H6.22727L6.68182 8.4545C6.68182 8.49996 6.68182 8.54541 6.68182 8.59086C6.68182 8.77268 6.59091 8.9545 6.50002 9.09086L6 9.54541L3 6.54541C2.81818 6.40905 2.72727 6.18177 2.72727 5.90905V1.36359C2.72727 0.863592 3.13636 0.454501 3.63636 0.454501H7.72727C8.09091 0.454501 8.40909 0.681774 8.54545 0.999956L9.90909 4.22725C9.95455 4.31816 9.95455 4.45452 9.95455 4.54543V5.45452H10C10 5.40905 10 5.4545 10 5.4545Z" fill="black"/>
                        </svg>
                        <div class="reviews-bottom-bad">0</div>
                    </button>
                </div>
            </div>
            <div class="reviews-item">
                <div class="reviews-flex">
                    <div class="reviews-left">
                        <div class="star">
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                        </div>
                        <p class="reviews-date">
                            04/17/2019
                            <span class="reviews-name">Robin h.</span>
                        </p>
                    </div>
                    <div class="reviews-right">
                        <p class="reviews-text">
                            People stop me on the street. They tell me in stores . Random strangers. My dentist. They notice the gold hardware.. but above all... they notice that these glasses look like they were custom made for me... my hair, my face. They are like beautiful jewelry. Thank
                            <br> you!!!!!!!!
                        </p>
                    </div>
                </div>
                <div class="reviews-bottom">
                    <p class="reviews-text">Was this review helpful?</p>
                    <button class="reviews-bottom-like">
                        <svg class="reviews-like" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 9.5455H1.81818V4.09095H0V9.5455ZM10 4.5455C10 4.0455 9.59091 3.63641 9.09091 3.63641H6.22727L6.68182 1.5455C6.68182 1.50004 6.68182 1.45459 6.68182 1.40914C6.68182 1.22732 6.59091 1.0455 6.50002 0.909135L6 0.45459L3 3.45459C2.81818 3.59095 2.72727 3.81823 2.72727 4.09095V8.63641C2.72727 9.13641 3.13636 9.5455 3.63636 9.5455H7.72727C8.09091 9.5455 8.40909 9.31823 8.54545 9.00004L9.90909 5.77275C9.95455 5.68184 9.95455 5.54548 9.95455 5.45457V4.54548H10C10 4.59095 10 4.5455 10 4.5455Z" fill="black"/>
                        </svg>
                        <div class="reviews-bottom-good">0</div>
                    </button>
                    <button class="reviews-bottom-like">
                        <svg class="reviews-like" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0.454501H1.81818V5.90905H0V0.454501ZM10 5.4545C10 5.9545 9.59091 6.36359 9.09091 6.36359H6.22727L6.68182 8.4545C6.68182 8.49996 6.68182 8.54541 6.68182 8.59086C6.68182 8.77268 6.59091 8.9545 6.50002 9.09086L6 9.54541L3 6.54541C2.81818 6.40905 2.72727 6.18177 2.72727 5.90905V1.36359C2.72727 0.863592 3.13636 0.454501 3.63636 0.454501H7.72727C8.09091 0.454501 8.40909 0.681774 8.54545 0.999956L9.90909 4.22725C9.95455 4.31816 9.95455 4.45452 9.95455 4.54543V5.45452H10C10 5.40905 10 5.4545 10 5.4545Z" fill="black"/>
                        </svg>
                        <div class="reviews-bottom-bad">0</div>
                    </button>
                </div>
            </div>
        </div>
        <div class="reviews-write">
            <form class="reviews-form">
                <img src="" alt="" class="reviews-form-img">
                <div class="reviews-form-right">
                    <div class="reviews-form-field">
                        <p class="reviews-form-name">Name</p>
                        <input type="text" class="reviews-form-input">
                    </div>
                    <div class="reviews-form-field">
                        <p class="reviews-form-name">email</p>
                        <input type="text" class="reviews-form-input">
                    </div>
                    <div class="reviews-form-field">
                        <p class="reviews-form-name">rating</p>
                        <div class="star">
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                            <a href="" class="jq-star"> </a>
                        </div>
                    </div>
                    <div class="reviews-form-field">
                        <p class="reviews-form-name">headline</p>
                        <input type="text" class="reviews-form-input">
                    </div>
                    <div class="reviews-form-field">
                        <p class="reviews-form-name">your review</p>
                        <textarea class="reviews-form-textarea"></textarea>
                    </div>
                    <button class="reviews-form-btn btn">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
