<footer class="section footer">
    <div class="footer-container">
        <div class="footer-top">
            <form action="" class="footer-top-form">
                <img src="img/mail.svg" alt="" class="footer-top-img">
                <input type="text" class="footer-top-input" placeholder="JOIN THE SOCIETY - SAVE 15%">
                <button type="submit" class="footer-top-btn">
                    <img src="img/arrow-right.svg" alt="" class="footer-top-arrow">
                </button>
            </form>
        </div>
        <div class="footer-mid">
            <div class="footer-mid-left">
                <ul class="footer-mid-col">
                    <li class="footer-mid-sublist">
                        <p class="footer-mid-subtitle">SHOP EYE SOCIETY</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">SUNGLASSES</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink"> EYEGLASSES</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">SHOP OUR INSTA</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink"> CONTACT LENSES</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink"> CARE PRODUCTS </a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink"> GIFT CARDS</a>
                    </li>
                </ul>
                <ul class="footer-mid-col footer-mid-col_mob">
                    <li class="footer-mid-sublist">
                        <p class="footer-mid-subtitle">customer service</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">CONTACT US</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">SHIPPING + RETURNS</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">SITEMAP</a>
                    </li>
                    <li class="footer-mid-sublist footer-mid-subtop">
                        <p class="footer-mid-subtitle">visit a store</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink footer-mid-locator">STORE LOCATOR</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">BOOK AN EYE EXAM</a>
                    </li>
                </ul>
                <ul class="footer-mid-col">
                    <li class="footer-mid-sublist">
                        <p class="footer-mid-subtitle footer-mid-submob">education</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">EYEWEAR A TO Z</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">HOW GLASSES ARE MADE</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">STYLE & FIT GUIDE</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">OUR LENSES</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">CONTACT LENSES GUIDE</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">HOW TO ORDER</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">MEASURE YOUR PD</a>
                    </li>
                </ul>
                <ul class="footer-mid-col footer-mid-col_desc">
                    <li class="footer-mid-sublist">
                        <p class="footer-mid-subtitle">customer service</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">CONTACT US</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">SHIPPING + RETURNS</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">SITEMAP</a>
                    </li>
                    <li class="footer-mid-sublist footer-mid-subtop">
                        <p class="footer-mid-subtitle">visit a store</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink footer-mid-locator">STORE LOCATOR</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">BOOK AN EYE EXAM</a>
                    </li>
                </ul>
                <ul class="footer-mid-col">
                    <li class="footer-mid-sublist">
                        <p class="footer-mid-subtitle">about us</p>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">OUR STORY</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink"> MEET THE TEAM</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">OUR BLOG</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">CELEBRITIES</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">OUR CLIENTS</a>
                    </li>
                    <li class="footer-mid-sublist">
                        <a href="" class="footer-mid-sublink">REWARDS</a>
                    </li>
                    <li class="footer-mid-sublist footer-mid-subflex">
                        <a href="" class="footer-mid-subsocial">
                            <img src="img/facebook.svg" alt="facebook" class="footer-mid-subicon">
                        </a>
                        <a href="" class="footer-mid-subsocial">
                            <img src="img/instagram.svg" alt="instagram" class="footer-mid-subicon">
                        </a>
                        <a href="" class="footer-mid-subsocial">
                            <img src="img/youtube.svg" alt="youtube" class="footer-mid-subicon">
                        </a>
                    </li>

                </ul>

            </div>
            <div class="footer-mid-right">
                <p class="footer-mid-subtitle"> NEED A HAND?</p>
                <p class="footer-mid-text">
                    We’re available by phone *** and chat every
                    day, 9 a.m.-9 p.m. ET.
                </p>
                <div class="footer-mid-flex">
                    <div class="footer-mid-item">
                        <img src="img/call.svg" alt="call" class="footer-mid-img">
                        <span class="footer-mid-span">Call</span>
                    </div>
                    <div class="footer-mid-item">
                        <img src="img/faq.svg" alt="faq" class="footer-mid-img">
                        <span class="footer-mid-span">FAQ</span>
                    </div>
                    <div class="footer-mid-item">
                        <img src="img/chat.svg" alt="chat" class="footer-mid-img">
                        <span class="footer-mid-span">Chat</span>
                    </div>
                    <div class="footer-mid-item">
                        <img src="img/email.svg" alt="email" class="footer-mid-img">
                        <span class="footer-mid-span">Email</span>
                    </div>
                    <div class="footer-mid-item">
                        <img src="img/text.svg" alt="text" class="footer-mid-img">
                        <span class="footer-mid-span">Text</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-block">
                <div class="footer-bottom-up">

                </div>
                <p class="footer-bottom-item">© eye society 2019</p>
                <a href="#" class="footer-bottom-item">terms + conditions</a>
                <a href="#" class="footer-bottom-item">privacy policy</a>
            </div>
            <img src="img/logo-anvi.svg" alt="" class="footer-bottom-anvi">
        </div>
    </div>
    <div class="popup popup-email">
        <form action="" class="popup-email-form">
            <svg class="popup-email-close" width="9" height="9" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L21 21M21 1L1 21" stroke="#000000"/>
            </svg>
            <h4 class="popup-email-title">Done! </h4>
            <p class="popup-email-text">thanks for signing up!</p>
            <span class="popup-email-span">Tell us more about you (optional)</span>
            <div class="popup-email-field">
                <p class="popup-email-name">Name</p>
                <input type="text" class="popup-email-input" placeholder="Enter your name...">
            </div>
            <div class="popup-email-field">
                <p class="popup-email-name">Birthday</p>
                <div class="popup-email-flex">
                    <div class="popup-email-item">
                        <input type="" class="popup-email-date" placeholder="Day">
                        <div class="popup-email-btns">
                            <svg class="popup-email-up popup-email-arrow" width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 0L0 4H5L2.5 0Z" fill="black"/>
                            </svg>
                            <svg class="popup-email-down popup-email-arrow" width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 4L5 0L3.49691e-07 -4.37114e-07L2.5 4Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                    <div class="popup-email-item">
                        <input type="number" class="popup-email-date" placeholder="Month">
                        <div class="popup-email-btns">
                            <svg class="popup-email-up popup-email-arrow" width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 0L0 4H5L2.5 0Z" fill="black"/>
                            </svg>
                            <svg class="popup-email-down popup-email-arrow" width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 4L5 0L3.49691e-07 -4.37114e-07L2.5 4Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                    <div class="popup-email-item">
                        <input type="number" class="popup-email-date" placeholder="Year">
                        <div class="popup-email-btns">
                            <svg class="popup-email-up popup-email-arrow" width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 0L0 4H5L2.5 0Z" fill="black"/>
                            </svg>
                            <svg class="popup-email-down popup-email-arrow" width="5" height="4" viewBox="0 0 5 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 4L5 0L3.49691e-07 -4.37114e-07L2.5 4Z" fill="black"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup-email-field">
                <p class="popup-email-name">Gender</p>
                <select class="popup-email-select popup-email-input" >
                    <option>Select Gender....</option>
                </select>
            </div>
            <div class="popup-email-btn">submit</div>
        </form>
    </div>
    <div class="footer-popup">
        <div class="footer-popup-container">
            <h4 class="footer-popup-title">#joineyesociety</h4>
            <p class="footer-popup-text">Dress with intent, live with purpose. Check out our latest <br> adventures below.</p>
            <div class="footer-popup-flex">
                <a href="#" class="footer-popup-item">
                    <img src="" alt="" class="footer-popup-img">
                    <p class="footer-popup-name">Give $20, Get $20</p>
                </a>
                <a href="#" class="footer-popup-item">
                    <img src="" alt="" class="footer-popup-img">
                    <p class="footer-popup-name">blog post</p>
                </a>
                <a href="#" class="footer-popup-item">
                    <img src="" alt="" class="footer-popup-img">
                    <p class="footer-popup-name">Book an Eye Exam</p>
                </a>
            </div>
        </div>
    </div>
</footer>

