<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <!--    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="fit">
    <section class="fit-first">
        <img src="" alt="" class="fit-first-img">
        <h1 class="fit-title_main fit-title fit-first-mob">
            FIT GUIDE
        </h1>
        <div class="container fit-first-flex">
            <h1 class="fit-title_main fit-title">
                FIT GUIDE
            </h1>
            <p class="style-text fit-first-text">
                Next to each frame's description, you'll see three sets of numbers - referring to the eye, temple, and bridge size. These numbers can be compared between frame styles, to give you a sense for what will fit you. Not sure?
                <a href="" class="style-link">Text</a>  or <a href="" class="style-link">call us</a> and we'll help you find the perfect pair.
            </p>
        </div>
    </section>
    <section class="fit-second">
        <div class="container">
            <div class="fit-flex">
                <div class="fit-item">
                    <img src="img/image 2.1.svg" alt="" class="fit-img">
                </div>
                <div class="fit-item">
                    <div class="fit-item-block">
                        <h4 class="fit-title">eye</h4>
                        <p class="style-text">
                            The eye refers to the horizontal width of the lens.
                        </p>
                    </div>
                    <div class="fit-item-block">
                        <h4 class="fit-title">bridge</h4>
                        <p class="style-text">
                            The bridge is the distance measured between<br>
                            the two closest points of the lenses.
                        </p>
                    </div>
                    <div class="fit-item-block">
                        <h4 class="fit-title">temple</h4>
                        <p class="style-text">
                            The temple is the length of the arm<br>
                            from one end to the other.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="fit-third">
        <img src="" alt="" class="fit-first-img">
        <h1 class="fit-title_main fit-title fit-first-mob">
            CUSTOM FIT YOUR FRAMES
        </h1>
        <div class="container fit-first-flex">
            <h2 class="fit-third-title">CUSTOM FIT YOUR FRAMES</h2>
            <p class="style-text fit-first-text">
                Our frames are crafted from acetate, a heat-sensitive material that will mold to fit your face with time. For a truly custom fit, take your frames in to our stylist team at one of our store locations, or try the method below for fitting at home.
            </p>
        </div>
    </section>
    <section class="fit-fourth">
        <div class="container">
            <div class="fit-flex">
                <div class="fit-item">
                    <img src="img/image 2.svg" alt="" class="fit-img">
                </div>
                <div class="fit-item">
                    <div class="fit-item-block">
                        <h4 class="fit-title">01 HEAT</h4>
                        <p class="style-text">
                            Using a hair dryer on medium heat, warm the rear third of the frame - two inches away from the arm - for 15 seconds. Do not exceed 25 seconds.
                        </p>
                    </div>
                    <div class="fit-item-block">
                        <h4 class="fit-title">02 TAILOR</h4>
                        <p class="style-text">
                            Immediately after heating, hold one arm of the frame with both hands and use your forefinger and thumb to apply pressure to the end of the arm. Bend the end down for a closer fit, in for a tighter fit, and up for a looser fit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="fit-flex">
                <div class="fit-item">
                    <div class="fit-item-block">
                        <h4 class="fit-title">03 REPEAT</h4>
                        <p class="style-text">
                            Not perfect yet? Don’t worry! Repeat the steps again - heat then tailor until desired comfort level is achieved.
                        </p>
                    </div>
                    <div class="fit-item-block">
                        <h4 class="fit-title">04 REST</h4>
                        <p class="style-text">
                            Place frames upside down - arms facing upward - on a flat surface and allow them to cool for up to five minutes.
                        </p>
                    </div>
                </div>
                <div class="fit-item">
                    <img src="img/image 2.2.svg" alt="" class="fit-img">
                </div>

            </div>
        </div>
    </section>
</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
