<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <!--    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="meet">

    <section class="meet-first">
        <h1 class="meet-title">Meet the team</h1>
    </section>
    <div class="container">
        <section class="meet-second">
            <div class="meet-flex">
                <div class="meet-card">
                    <div class="meet-card-hover">
                        <div class="meet-card-bottom">
                            <p class="meet-card-name">
                                John Doe
                                <span class="meet-card-span">Art director</span>
                            </p>
                            <img src="img/next.svg" alt="" class="meet-card-arrow">
                        </div>
                    </div>
                </div>
                <div class="meet-card">
                    <div class="meet-card-hover">
                        <div class="meet-card-bottom">
                            <p class="meet-card-name">
                                John Doe
                                <span class="meet-card-span">Art director</span>
                            </p>
                            <img src="img/next.svg" alt="" class="meet-card-arrow">
                        </div>
                    </div>
                </div>
                <div class="meet-card">
                    <div class="meet-card-hover">
                        <div class="meet-card-bottom">
                            <p class="meet-card-name">
                                John Doe
                                <span class="meet-card-span">Art director</span>
                            </p>
                            <img src="img/next.svg" alt="" class="meet-card-arrow">
                        </div>
                    </div>
                </div>
            </div>
            <div class="meet-change">
                <div class="meet-change-item">
                    <div class="meet-change-left meet-change-half">
                        <div class="meet-change-block">
                            <div class="meet-close">
                                <svg class="" width="15" height="15" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L21 21M21 1L1 21" stroke="#000000"/>
                                </svg>
                            </div>
                            <p class="meet-change-title">
                                Jogn doe
                                <span class="meet-change-span">something</span>
                            </p>
                            <div class="meet-change-content">
                                <p class="meet-change-text">Your text here</p>
                                <p class="meet-change-text">
                                    textex textext
                                    textextextext
                                    textex textext
                                    textextextext
                                    textex textext
                                    textextextext
                                    textextextext
                                    textextextext
                                    textextextext
                                    textextextext</p>
                            </div>
                        </div>

                    </div>
                    <div class="meet-change-right meet-change-half"></div>
                </div>
                <div class="meet-change-item">
                    <div class="meet-change-left meet-change-half">
                        <div class="meet-change-block">
                            <div class="meet-close">
                                <svg class="" width="15" height="15" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L21 21M21 1L1 21" stroke="#000000"/>
                                </svg>
                            </div>
                            <p class="meet-change-title">
                                Jogn doe
                                <span class="meet-change-span">something</span>
                            </p>
                            <div class="meet-change-content">
                                <p class="meet-change-text">Your text here</p>
                                <p class="meet-change-text">
                                    textex textext
                                    textextextext
                                    textex textext
                                    textextextext
                                    textextextext</p>
                            </div>
                        </div>

                    </div>
                    <div class="meet-change-right meet-change-half"></div>
                </div>
                <div class="meet-change-item">
                    <div class="meet-change-left meet-change-half">
                        <div class="meet-change-block">
                            <div class="meet-close">
                                <svg class="" width="15" height="15" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L21 21M21 1L1 21" stroke="#000000"/>
                                </svg>
                            </div>
                            <p class="meet-change-title">
                                Jogn doe
                                <span class="meet-change-span">something</span>
                            </p>
                            <div class="meet-change-content">
                                <p class="meet-change-text">Your text here</p>
                                <p class="meet-change-text">

                                    textextextext</p>
                            </div>
                        </div>

                    </div>
                    <div class="meet-change-right meet-change-half"></div>
                </div>
            </div>
        </section>
    </div>
</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
