<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <!--    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="made">

    <section class="made-first">
        <div class="container">
            <h1 class="made-title">
                HOW OUR GLASSES<br> ARE MADE
            </h1>
            <a href="" class="made-first-link">
                <span class="made-play"></span>
                <p class="made-text">Watch the full video</p>
            </a>
        </div>
    </section>
    <div class="made-mob-fixed">
        <div class="made-mob-item">
            <p class="made-mob-text">Learn more about</p>
            <svg class="made-mob-arrow" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 1L5 5L1 1" stroke="black"/>
            </svg>
        </div>
        <ul class="shop-menu">
            <li class="shop-menu-list">
                <a href="#" class="shop-menu-link active"><span class="">design</span></a>
            </li>
            <li class="shop-menu-list">
                <a href="#" class="shop-menu-link"><span>materials</span></a>
            </li>
            <li class="shop-menu-list">
                <a href="#" class="shop-menu-link"><span>production</span></a>
            </li>
            <li class="shop-menu-list">
                <a href="#" class="shop-menu-link"><span>lenses</span></a>
            </li>
            <li class="shop-menu-list">
                <a href="#" class="shop-menu-link"><span>final review</span></a>
            </li>
        </ul>
    </div>


    <section class="made-second">
        <div class="container">
            <div class="made-mob-container">
                <span class="made-span">design</span>
                <h2 class="info-second-title">It starts at our headquarters</h2>
                <p class="style-text">
                    Every Warby Parker frame is designed in-house, where our team puts together mood boards for inspiration, sketches initial designs, and maps out product details for prototyping.
                </p>
            </div>
            <div class="made-second-content">
                <div class="made-flex">
                    <div class="made-second-one made-second-block   ">
                        <img src="https://scontent.cdninstagram.com/vp/0ebb27bd23ed684d765c3100eb63a880/5DCA9831/t51.2885-15/sh0.08/e35/p640x640/66386667_178205719871383_7879219255158509052_n.jpg?_nc_ht=scontent.cdninstagram.com" alt="" class="">
                    </div>
                    <div class="made-second-two made-second-block">
                        <img src="https://scontent.cdninstagram.com/vp/0ebb27bd23ed684d765c3100eb63a880/5DCA9831/t51.2885-15/sh0.08/e35/p640x640/66386667_178205719871383_7879219255158509052_n.jpg?_nc_ht=scontent.cdninstagram.com" alt="" class="">
                    </div>
                </div>
            </div>

            <div class="made-mob-container">
                <span class="made-span">MATERIALS</span>
                <h2 class="info-second-title">We use only the<br class="made-mob-br">good stuff</h2>
                <p class="made-second-text">
                    From custom-designed cellulose acetate sourced from a family-run Italian factory to ultra-lightweight titanium, we use nothing but premium materials for our frames.            </p>

            </div>

            <div class="made-flex">
                <div class="made-second-tree_block">
                    <img src="" alt="" class="made-second-tree made-second-block">
                    <p class="style-text">Colored organic pigments are mixed with acetone and applied to acetate</p>
                </div>
                <div class="made-second-four_block">
                    <img src="" alt="" class="made-second-four made-second-block">
                    <p class="style-text">Acetate is cut into small chips</p>
                </div>
            </div>
            <div class="made-flex">
                <div class="made-second-five_block">
                    <img src="" alt="" class="made-second-five made-second-block">
                    <p class="style-text">Mixed chips are placed into a mold and pressed together</p>
                </div>
                <div class="made-second-six_block">
                    <img src="" alt="" class="made-second-six made-second-block">
                    <p class="style-text">24 hours later, chips have fused into one block</p>
                </div>
            </div>
        </div>
    </section>

    <img src="" alt="" class="made-img">

    <section class="made-second">
        <div class="container">
            <div class="made-mob-container">
                <span class="made-span">PRODUCTION</span>
                <h2 class="info-second-title">Every frame is<br class="made-mob-br">hand-assembled and polished</h2>
                <p class="style-text">
                    After raw material is cut into face fronts using a high-tech CNC machine, it’s tumbled with wood chips and hand-polished with a German wax compound. The frames are then carefully assembled and sent through a series of quality checks.
                </p>
            </div>

            <div class="made-flex made-flex-center">
                <div class="made-second-tree_block">
                    <img src="" alt="" class="made-second-tree made-second-block">
                    <p class="style-text">A CNC machine cuts a general frame shape from raw acetate sheets</p>
                </div>
            </div>
            <div class="made-flex made-flex-center">
                <div class="made-second-seven_block">
                    <img src="" alt="" class="made-second-seven made-second-block">
                    <p class="style-text">Face fronts are polished in tumbling barrels filled with wood chips</p>
                </div>
                <div class="made-second-eight_block">
                    <img src="" alt="" class="made-second-eight made-second-block">
                    <p class="style-text">Frames are hand-buffed multiple times on a polishing wheel for an extra-glossy finish</p>
                </div>
            </div>
            <div class="made-flex made-flex-center">
                <div class="made-second-nine_block">
                    <img src="" alt="" class="made-second-nine made-second-block">
                    <p class="style-text">Logos are carefully applied by hand</p>
                </div>
                <div class="made-second-ten_block">
                    <img src="" alt="" class="made-second-ten made-second-block">
                    <p class="style-text">Testing our hinges to make sure they can withstand the occasional pull, push, or nudge</p>
                </div>
            </div>
        </div>
    </section>
    <img src="" alt="" class="made-img">

    <section class="made-second">
        <div class="container">
            <div class="made-mob-container">
                <span class="made-span">LENSES</span>
                <h2 class="info-second-title">When you order, a new pair is made just for you</h2>
                <p class="made-second-text">
                    We custom-cut and polish the edges of your lenses, which have been treated with<br>anti-reflective and scratch-resistant coatings. Our frames come standard with<br> impact-resistant polycarbonate lenses that block 100% of UVA and UVB rays.
                </p>
            </div>
            <div class="made-flex made-flex-center">
                <div class="made-second-nine_block">
                    <img src="" alt="" class="made-second-nine made-second-block">
                    <p class="style-text">Prescription lenses are placed into a job tray with coordinating frames</p>
                </div>
                <div class="made-second-ten_block">
                    <img src="" alt="" class="made-second-ten made-second-block">
                    <p class="style-text">Lenses are precisely milled into their correct shape using a CNC machine</p>
                </div>
            </div>
            <div class="made-flex made-flex-center">
                <div class="made-second-tree_block">
                    <img src="" alt="" class="made-second-tree made-second-block">
                    <p class="style-text">Lenses are carefully mounted into the frame</p>
                </div>
            </div>
            <div class="made-flex made-flex-center">
                <div class="made-second-seven_block">
                    <img src="" alt="" class="made-second-seven made-second-block">
                    <p class="style-text">Glasses are sent for a final review, where the prescription is checked one last time</p>
                </div>
                <div class="made-second-eight_block">
                    <img src="" alt="" class="made-second-eight made-second-block">
                    <p class="style-text">Good to go!</p>
                </div>
            </div>
            <div class="made-second-bottom">
                <span class="made-span">FINAL REVIEW</span>
                <h2 class="info-second-title">And off they go</h2>
                <p class="made-second-text">After the frames are individually inspected and bench aligned, they’re<br> packaged up and ready for you!</p>

            </div>
        </div>
    </section>
    <img src="" alt="" class="made-img">
    <div class="container">
        <section class="made-third">
            <div class="made-third-item">
                <img src="" alt="" class="made-third-img">
            </div>
            <div class="made-third-item">
                <h2 class="info-second-title">FIND YOUR PAIR</h2>
                <div class="made-third-flex">
                    <a href="" class="btn made-third-btn">shop men’s</a>
                    <a href="" class="btn made-third-btn">shop women’s</a>
                </div>
            </div>
        </section>
    </div>

</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
