<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="book">
    <img src="img/visit.jpg" alt="" class="book-img">
    <div class="container">
        <div class="book-relative">
            <section class="book-block active">
                <h2 class="book-title">the doc is in - book an eye exam</h2>
                <p class="book-text">Get a complimentary comprehensive eye exam with our in-house
                    optometrist Dr.Kim Ta, when you purchase frames and lenses at EyeSociety.
                    Select a day and time to be seen at our 1818 Magazine St. location.</p>
                <div class="book-box">
                    <div class="book-section-first book-first">
                        <div class="book-first-date"></div>
                        <div class="book-first-content">
                            <p class="book-first-title">No times are available on this day.</p>
                            <ul class="book-first-drop book-drop">
                                <li class="book-drop-list">
                                    10:00 AM
                                </li>
                                <li class="book-drop-list">
                                    10:30 AM
                                </li>
                                <li class="book-drop-list">
                                    11:00 AM
                                </li>
                                <li class="book-drop-list">
                                    11:30 AM
                                </li>
                                <li class="book-drop-list">
                                    12:00 AM
                                </li>
                                <li class="book-drop-list">
                                    12:30 AM
                                </li>
                                <li class="book-drop-list">
                                    2:00 pM
                                </li>
                                <li class="book-drop-list">
                                    2:30 pM
                                </li>
                                <li class="book-drop-list">
                                    3:00 pM
                                </li>
                                <li class="book-drop-list">
                                    3:30 pM
                                </li>
                                <li class="book-drop-list">
                                    4:00 pM
                                </li>
                                <li class="book-drop-list">
                                    4:30 pM
                                </li>
                                <li class="book-drop-list">
                                    5:00 pM
                                </li>
                                <li class="book-drop-list">
                                    5:30 pM
                                </li>
                            </ul>
                            <p class="book-first-change">
                                all times in Europe/Helsinki
                                <a href="" class="book-first-link">CHANGE</a>
                            </p>
                        </div>
                    </div>

                </div>
            </section>
            <section class="book-second">
                <div class="book-second-left book-left">
                    <p class="book-left-title">eye exam</p>
                    <p class="">
                        <span class="book-left-date">4/19/2019</span>
                        <span class="book-left-time">2:30 PM</span>
                    </p>
                    <a href="#" class="btn book-left-btn">change</a>
                </div>
                <div class="book-second-right book-right">
                    <form action="" class="book-form">
                        <div class="book-form-field">
                            <p class="book-form-name">first name*</p>
                            <input type="text" class="book-form-input" required>
                        </div>
                        <div class="book-form-field">
                            <p class="book-form-name">last name*</p>
                            <input type="text" class="book-form-input" required>
                        </div>
                        <div class="book-form-field">
                            <p class="book-form-name">email*</p>
                            <input type="text" class="book-form-input" required>
                        </div>
                        <div class="book-form-field">
                            <p class="book-form-name">phone number*</p>
                            <input type="text" class="book-form-input" required>
                        </div>
                        <div class="book-form-field">
                            <p class="book-form-name">birthday(mm/dd/yy)*</p>
                            <input type="text" class="book-form-input" required>
                        </div>
                        <div class="book-form-field">
                            <p class="book-form-name">full address*</p>
                            <input type="text" class="book-form-input" required>
                        </div>
                        <label class="book-form-label">
                            <input type="checkbox" class="checkbox">
                            <span class="book-form-item"></span>
                            <span class="book-form-text">Remind By Email</span>
                        </label>
                        <label class="book-form-label">
                            <input type="checkbox" class="checkbox">
                            <span class="book-form-item"></span>
                            <span class="book-form-text">Remind By Text/SMS</span>
                        </label>
                        <button type="submit" class="btn book-form-btn">save booking</button>
                        <span class="book-form-span">By clicking above, you agree to the
                        <a href="#" class="book-form-link">Terms of Service</a> and
                        <a href="#" class="book-form-link">Privacy Policy</a>.</span>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/common.js"></script>
</body>
</html>
