<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="bag">
    @import "header.html"
    <div class="container">
        <div class="bag-bread">
            <p class="bag-bread-text">my bag</p>
        </div>
        <h2 class="bag-title">my bag</h2>
        <div class="bag-flex">
            <div class="bag-left">
                <ul class="bag-menu">
                    <li class="bag-list">
                        <div class="popup-bag-subflex">
                            <img src="" alt="img" class="popup-bag-subimg bag-img">
                            <ul class="popup-bag-subinfo">
                                <li class="popup-bag-sublist">
                                    <p class="popup-bag-subname bag-name">clay</p>
                                    <span class="popup-bag-subspan bag-name-span">matte ash to crystal</span>
                                    <span class="bag-name-red">tick tock, only 8 left!</span>
                                    <div class="popup-bag-submobflex">
                                        <p class="popup-bag-subgray">QTY <span class="popup-bag-subnum">1</span></p>
                                        <div class="popup-bag-submobblock">
                                            <p class="popup-bag-graythrough">
                                                <span class="graythrough">$295</span>
                                                <span class="popup-bag-subdiscount">-15%</span>
                                            </p>
                                            <p class="popup-bag-subspan">$295</p>
                                        </div>
                                        <span class="popup-bag-submsg">tick tock, only 8 left!</span>
                                    </div>
                                </li>
                                <li class="popup-bag-sublist">
                                    <span class="popup-bag-subgray popup-bag-remove">remove</span>
                                </li>
                            </ul>
                        </div>
                        <ul class="popup-bag-accordion">
                            <li class="popup-bag-list">
                                <p class="popup-bag-text">
                                    view prescription
                                    <img src="img/arrow-down.svg" alt="arrow-drop" class="popup-bag-arrow">
                                </p>
                                <span class="popup-bag-edit">edit</span>
                            </li>
                            <li class="popup-bag-drop">
                                <table class="popup-bag-droptable">
                                    <tr class="popup-bag-droprow">
                                        <td class="popup-bag-droptext"></td>
                                        <td class="popup-bag-droptop">
                                            sph
                                        </td>
                                        <td class="popup-bag-droptop">
                                            cyl
                                        </td>
                                        <td class="popup-bag-droptop">
                                            axis
                                        </td>
                                        <td class="popup-bag-droptop">
                                            add
                                        </td>
                                        <td class="popup-bag-droptop">
                                            pd
                                        </td>

                                    </tr>
                                    <tr class="popup-bag-dropcol">
                                        <td class="popup-bag-droptop">
                                            od
                                            (right)
                                        </td>
                                        <td class="popup-bag-droptext">
                                            +2.0
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext"  rowspan="2">
                                            63.0
                                        </td>
                                    </tr>
                                    </tr>
                                    <tr class="popup-bag-dropcol" >
                                        <td class="popup-bag-droptop">
                                            os
                                            (left)
                                        </td>
                                        <td class="popup-bag-droptext">
                                            +2.0
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </li>
                    <li class="bag-list">
                        <div class="popup-bag-subflex">
                            <img src="" alt="img" class="popup-bag-subimg bag-img">
                            <ul class="popup-bag-subinfo">
                                <li class="popup-bag-sublist">
                                    <p class="popup-bag-subname bag-name">clay</p>
                                    <span class="popup-bag-subspan bag-name-span">matte ash to crystal</span>
                                    <span class="bag-name-red">tick tock, only 8 left!</span>
                                    <div class="popup-bag-submobflex">
                                        <p class="popup-bag-subgray">QTY <span class="popup-bag-subnum">1</span></p>
                                        <div class="popup-bag-submobblock">
                                            <p class="popup-bag-graythrough">
                                                <span class="graythrough">$295</span>
                                                <span class="popup-bag-subdiscount">-15%</span>
                                            </p>
                                            <p class="popup-bag-subspan">$295</p>
                                        </div>
                                        <span class="popup-bag-submsg">tick tock, only 8 left!</span>
                                    </div>
                                </li>
                                <li class="popup-bag-sublist">
                                    <span class="popup-bag-subgray popup-bag-remove">remove</span>
                                </li>
                            </ul>
                        </div>
                        <ul class="popup-bag-accordion">
                            <li class="popup-bag-list">
                                <p class="popup-bag-text">
                                    view prescription
                                    <img src="img/arrow-down.svg" alt="arrow-drop" class="popup-bag-arrow">
                                </p>
                                <span class="popup-bag-edit">edit</span>
                            </li>
                            <li class="popup-bag-drop">
                                <table class="popup-bag-droptable">
                                    <tr class="popup-bag-droprow">
                                        <td class="popup-bag-droptext"></td>
                                        <td class="popup-bag-droptop">
                                            sph
                                        </td>
                                        <td class="popup-bag-droptop">
                                            cyl
                                        </td>
                                        <td class="popup-bag-droptop">
                                            axis
                                        </td>
                                        <td class="popup-bag-droptop">
                                            add
                                        </td>
                                        <td class="popup-bag-droptop">
                                            pd
                                        </td>

                                    </tr>
                                    <tr class="popup-bag-dropcol">
                                        <td class="popup-bag-droptop">
                                            od
                                            (right)
                                        </td>
                                        <td class="popup-bag-droptext">
                                            +2.0
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext"  rowspan="2">
                                            63.0
                                        </td>
                                    </tr>
                                    </tr>
                                    <tr class="popup-bag-dropcol" >
                                        <td class="popup-bag-droptop">
                                            os
                                            (left)
                                        </td>
                                        <td class="popup-bag-droptext">
                                            +2.0
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                        <td class="popup-bag-droptext">
                                            none
                                        </td>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="bag-right">
                <h4 class="bag-right-title">order summary</h4>
                <div class="bag-right-box">
                    <p class="bag-right-item">
                        subtotal
                        <span class="bag-right-span">$610</span>
                    </p>
                    <p class="bag-right-item">
                        shipping
                        <span class="bag-right-span">TBD</span>
                    </p>
                </div>
                <div class="bag-right-result">
                    <p class="bag-right-main">
                        estimated total
                        <span class="bag-right-price">$610</span>
                    </p>
                </div>
                <a href="#" class="btn bag-right-btn">continue to checkout</a>
                <a href="#" class="btn bag-right-btn bag-bg-one">
                    <img src="img/paypal-icon.svg" alt="" class="bag-right-icon">
                </a>
                <a href="#" class="btn bag-right-btn bag-bg-two">
                    <img src="img/amazon.svg" alt="" class="bag-right-icon">
                </a>
                <a href="#" class="btn bag-right-btn">
                    <img src="img/pay.svg" alt="" class="bag-right-icon">
                </a>
            </div>
        </div>
        <div class="bag-bottom">
            <h4 class="bag-bottom-title">OH, ALSO</h4>
            <div class="bag-bottom-flex">
                <a href="#" class="bag-bottom-card">
                    <img src="" alt="" class="bag-bottom-img">
                    <p class="bag-bottom-name">
                        st. louis classics
                        <span class="bag-bottom-span">bengal polarized 24k</span>
                    </p>
                    <p class="bag-bottom-price">$295</p>
                </a>
                <a href="#" class="bag-bottom-card">
                    <img src="" alt="" class="bag-bottom-img">
                    <p class="bag-bottom-name">
                        st. louis classics
                        <span class="bag-bottom-span">bengal polarized 24k</span>
                    </p>
                    <p class="bag-bottom-price">$295</p>
                </a>
                <a href="#" class="bag-bottom-card">
                    <img src="" alt="" class="bag-bottom-img">
                    <p class="bag-bottom-name">
                        st. louis classics
                        <span class="bag-bottom-span">bengal polarized 24k</span>
                    </p>
                    <p class="bag-bottom-price">$295</p>
                </a>
                <a href="#" class="bag-bottom-card">
                    <img src="" alt="" class="bag-bottom-img">
                    <p class="bag-bottom-name">
                        st. louis classics
                        <span class="bag-bottom-span">bengal polarized 24k</span>
                    </p>
                    <p class="bag-bottom-price">$295</p>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
