<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>

<body>
    <div class="collection">
        @import "header.html"

        <div class="container">
            <span class="header-menu-link collection-top-link">sun</span>
        </div>
        <section class="collection-first">
            <div class="collection-first-left">
                <div class="">
                    <h2 class="collection-title">the sunglass shop</h2>
                    <p class="collection-text">All of our sunglasses reflect our rich heritage, combining expert craftsmanship with the refined <br>tastes of downtown New York.<br>
                        Protect your eyes year-round and check out<br> MOSCOT’s full sunglass offerings. </p>
                    <div class="collection-change">
                        <p class="collection-text ">All of our sunglasses reflect our rich heritage, combining expert craftsmanship with the refined <br>tastes of downtown New York.<br>
                            Protect your eyes year-round and check out<br> MOSCOT’s full sunglass offerings. </p>
                        <p class="collection-text ">All of our sunglasses reflect our rich heritage, combining expert craftsmanship with the refined <br>tastes of downtown New York.<br>
                            Protect your eyes year-round and check out<br> MOSCOT’s full sunglass offerings. </p>
                    </div>
                    <div class="collection-drop collection-text">
                        Read Less
                        <svg class="collection-drop-arrow" width="9" height="9" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 11.5L11.5 1L22 11.5" stroke="#000000"/>
                        </svg>
                    </div>
                </div>
                <a href="" class="collection-sing">
                    SIGN UP FOR  <span class="collection-sing-span">brand name</span>  UPDATES
                    <svg class="collection-sing-arrow" width="7" height="8" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                    </svg>
                </a>
            </div>
            <div class="collection-first-right">
                <img src="" alt="" class="collection-first-img">
            </div>
        </section>
        <section class="collection-second">
            <div class="container">
                <ul class="collection-menu">
                    <li class="collection-list">
                        <div class="collection-link">Type</div>
                        <ul class="collection-type">
                            <li class="collection-type-list">
                                <ul class="collection-type-top active">
                                    <li class="collection-type-check">
                                        <div class="collection-type-item collection-type-sunglasses">
                                            <div class="collection-type-disc">
                                                <img src="img/sunglasses.svg" alt="" class="collection-type-glasses">
                                            </div>
                                            <p class="collection-type-title">sunglasses</p>
                                        </div>
                                    </li>
                                    <li class="collection-type-check">
                                      <div class="collection-type-item">
                                          <div class="collection-type-disc">
                                              <img src="img/optical.svg" alt="" class="collection-type-glasses">
                                          </div>
                                          <p class="collection-type-title">optical</p>
                                      </div>
                                  </li>
                                </ul>
                                <ul class="collection-lvl2">
                                    <li class="collection-lvl2-top">
                                        <div class="collection-lvl2-block">
                                            <div class="collection-type-item">
                                                <div class="collection-type-disc">
                                                    <img src="img/prescription.svg" alt="" class="collection-type-glasses">
                                                </div>
                                                <p class="collection-type-title">prescription <br>
                                                    ready</p>
                                            </div>
                                        </div>
                                        <div class="collection-lvl2-block">
                                            <div class="collection-type-item">
                                                <div class="collection-type-disc">
                                                    <img src="img/fullframe.svg" alt="" class="collection-type-glasses">
                                                </div>
                                                <p class="collection-type-title">full frame</p>
                                            </div>
                                            <div class="collection-type-item">
                                                <div class="collection-type-disc">
                                                    <img src="img/semi-rim.svg" alt="" class="collection-type-glasses">
                                                </div>
                                                <p class="collection-type-title">semi-rim</p>
                                            </div>
                                            <div class="collection-type-item">
                                                <div class="collection-type-disc">
                                                    <img src="img/rimless.svg" alt="" class="collection-type-glasses">
                                                </div>
                                                <p class="collection-type-title">rimless</p>
                                            </div>
                                        </div>
                                        <div class="collection-lvl2-block">
                                            <div class="collection-type-item">
                                                <div class="collection-type-disc">
                                                    <img src="img/grad-lens.svg" alt="" class="collection-type-glasses">
                                                </div>
                                                <p class="collection-type-title">gradient<br>
                                                    lenses</p>
                                            </div>
                                            <div class="collection-type-item">
                                                <div class="collection-type-disc">
                                                    <img src="img/mirrored.svg" alt="" class="collection-type-glasses">
                                                </div>
                                                <p class="collection-type-title">mirrored<br>
                                                    lenses</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="collection-type-bottom">
                                    <div class="collection-type-left">
                                        <p class="collection-type-main">(30) products</p>
                                        <p class="collection-type-type">
                                            <svg width="7" height="7" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L21 21M21 1L1 21" stroke="#000000"/>
                                            </svg>
                                            polarized</p>
                                        <p class="collection-type-type">
                                            <svg width="7" height="7" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L21 21M21 1L1 21" stroke="black"/>
                                            </svg>
                                            brown</p>
                                        <p class="collection-type-type">
                                            <svg width="7" height="7" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L21 21M21 1L1 21" stroke="black"/>
                                            </svg>
                                            rose gold</p>
                                        <p class="collection-type-type">
                                            <svg width="7" height="7" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L21 21M21 1L1 21" stroke="black"/>
                                            </svg>
                                            silver</p>
                                        <p class="collection-type-type">
                                            <svg width="7" height="7" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L21 21M21 1L1 21" stroke="black"/>
                                            </svg>
                                            oval</p>
                                        <p class="collection-type-type">
                                            <svg width="7" height="7" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1 1L21 21M21 1L1 21" stroke="black"/>
                                            </svg>
                                            large</p>
                                    </div>
                                    <p class="collection-type-type collection-type-close">
                                        close
                                    </p>

                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">Gender</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">frame size</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">shape</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">brand</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">frame color</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">lens color</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">material</div>
                    </li>
                    <li class="collection-list">
                        <div class="collection-link">Features </div>
                    </li>
                </ul>
                <ul class="collection-menu collection-menu-select">
                    <select class="collection-drop-lv1 collection-lv1">
                        <option></option>
                        <option>featured</option>
                        <option>best sellers</option>
                        <option>newest</option>
                        <option>oldest</option>
                        <option>price low-high</option>
                        <option>price high-low</option>
                    </select>
                </ul>
            </div>
        </section>
    </div>

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="https://kit.fontawesome.com/7d794170e7.js"></script>
<script src="js/common.js"></script>

</body>
</html>
