<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="brand">
    <section class="brand-first">
        <img src="img/image7.jpg" alt="" class="brand-first-img">
        <div class="brand-first-content">
            <h1 class="brand-title">Eyewear A to Z</h1>
            <p class="brand-first-text brand-text">Our easy-breezy super-smarty guide to everything from progressives to eyewires to monocles.</p>
        </div>
    </section>
    <section class="brand-second">
        <ul class="brand-menu">
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet active">A</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">b</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">c</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">d</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">e</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">f</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">g</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">h</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">i</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">j</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">k</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">l</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">m</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">n</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">o</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">p</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">q</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">r</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">s</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">t</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">u</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">v</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">w</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">x</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">y</a>
            </li>
            <li class="brand-menu-list">
                <a href="" class="brand-alphabet">z</a>
            </li>
        </ul>
        <div class="brand-second-flex">
            <select class="brand-select">
                <option></option>
                <option>A</option>
                <option>b</option>
                <option>c</option>
                <option>d</option>
                <option>e</option>
                <option>f</option>
                <option>g</option>
                <option>h</option>
                <option>i</option>
                <option>j</option>
                <option>k</option>
                <option>l</option>
                <option>m</option>
                <option>n</option>
                <option>o</option>
                <option>p</option>
                <option>q</option>
                <option>r</option>
                <option>s</option>
                <option>t</option>
                <option>u</option>
                <option>v</option>
                <option>w</option>
                <option>x</option>
                <option>y</option>
                <option>z</option>
            </select>
            <div class="brand-up-block"> </div>
        </div>

        <ul class="brand-drop">
            <li class="brand-drop-list">
                <p class="brand-drop-title">Acetate</p>
                <p class="brand-drop-text">Acetate—or, more specifically, cellulose acetate—is the caviar of plastics. It’s durable, hypoallergenic, and capable of holding exceptionally rich colors, which makes it an ideal material for eyeglasses. It’s our signature material.</p>
            </li>
            <li class="brand-drop-list">
                <p class="brand-drop-title">Acetate</p>
                <p class="brand-drop-text">Acetate—or, more specifically, cellulose acetate—is the caviar of plastics. It’s durable, hypoallergenic, and capable of holding exceptionally rich colors, which makes it an ideal material for eyeglasses. It’s our signature material.</p>
            </li>
            <li class="brand-drop-list">
                <p class="brand-drop-title">Acetate</p>
                <p class="brand-drop-text">Acetate—or, more specifically, cellulose acetate—is the caviar of plastics. It’s durable, hypoallergenic, and capable of holding exceptionally rich colors, which makes it an ideal material for eyeglasses. It’s our signature material.</p>
            </li>
            <li class="brand-drop-list">
                <p class="brand-drop-title">Acetate</p>
                <p class="brand-drop-text">Acetate—or, more specifically, cellulose acetate—is the caviar of plastics. It’s durable, hypoallergenic, and capable of holding exceptionally rich colors, which makes it an ideal material for eyeglasses. It’s our signature material.</p>
                <img src="img/image7.jpg" alt="" class="brand-drop-img">
            </li>
        </ul>
    </section>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
