<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
	@import "header.html"
	<section class="first">
		<div class="first-content">
			<h4 class="first-title title">have it all</h4>
			<p class="first-text text">Get a polarized frame and show up in style while caseally
				protecting your eyes from harmful UV rays.</p>
			<a href="" class="first-link">shop men</a>
			<a href="" class="first-link">shop women</a>
		</div>
	</section>
	<section class="second">
		<div class="second-flex">
			<div class="second-left">
				<h4 class="first-title title">have it all</h4>
				<p class="first-text text">Get a polarized frame and show up in style while caseally <br>
					protecting your eyes from harmful UV rays.</p>
				<a href="" class="first-link first-link_nomarg">shop fashion polarized</a>
			</div>
			<div class="second-right">
				<div class="second-list">
					<div class="second-item"></div>
					<div class="second-item"></div>
				</div>
				<div class="second-list">
					<div class="second-item"></div>
					<div class="second-item"></div>
				</div>
			</div>
		</div>
	</section>
	<section class="third">
		<div class="third-flex">
			<div class="third-left"></div>
			<div class="third-right">
				<h4 class="first-title title">visit a store</h4>
				<p class="first-text text">Get a polarized frame and show up in style while caseally<br>
					protecting your eyes from harmful UV rays.</p>
				<a href="" class="first-link">your text here</a>
			</div>
		</div>
	</section>
	<section class="first">
		<div class="first-content">
			<h4 class="first-title title">have it all</h4>
			<p class="first-text text">Get a polarized frame and show up in style while caseally
				protecting your eyes from harmful UV rays.</p>
			<a href="" class="first-link">shop men</a>
			<a href="" class="first-link">shop women</a>
		</div>
	</section>
	<section class="fourth">
		<div class="fourth-flex">
			<div class="fourth-item">
				<div class="fourth-item-block"></div>
				<div class="fourth-item-block"></div>
				<div class="fourth-item-block"></div>
				<div class="fourth-item-block"></div>
			</div>
			<div class="fourth-center">
				<p class="fourth-center-text">SHOP OUR INSTAGRAM</p>
				<a href="" class="fourth-center-link">
					<svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M11 4C11 1.8 9.2 0 7 0C4.8 0 3 1.8 3 4H0V13.5C0 14.9 1.1 16 2.5 16H11.5C12.9 16 14 14.9 14 13.5V4H11ZM7 1C8.7 1 10 2.3 10 4H4C4 2.3 5.3 1 7 1ZM13 13.5C13 14.3 12.3 15 11.5 15H2.5C1.7 15 1 14.3 1 13.5V5H13V13.5Z" fill="#1D1D1B"/>
						<path d="M4 6.19995H3V7.19995H4V6.19995Z" fill="#1D1D1B"/>
						<path d="M11 6.19995H10V7.19995H11V6.19995Z" fill="#1D1D1B"/>
					</svg>
				</a>
			</div>
			<div class="fourth-item">
				<div class="fourth-item-block"></div>
				<div class="fourth-item-block"></div>
				<div class="fourth-item-block"></div>
				<div class="fourth-item-block"></div>
			</div>
		</div>
	</section>
	<div class="trust">
		<div class="container">
			<div class="trust-list">
				<div class="trust-item">
					<img src="img/icon1.svg" alt="" class="trust-item-img">
					<p class="trust-item-text">FREE SHIPPING WORLDWIDE</p>
				</div>
				<div class="trust-item">
					<img src="img/icon2.svg" alt="" class="trust-item-img">
					<p class="trust-item-text">FREE RETURNS WORLDWIDE</p>
				</div>
				<div class="trust-item">
					<img src="img/icon3.svg" alt="" class="trust-item-img">
					<p class="trust-item-text">24 MONTH WARRANTY<br>
						ON ALL PRODUCTS</p>
				</div>
				<div class="trust-item">
					<img src="img/icon4.svg" alt="" class="trust-item-img">
					<p class="trust-item-text">100% SAFE & SECURE
						CHECKOUT</p>
				</div>
			</div>
		</div>
	</div>


	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
