<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <!--    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="light">
    @import "header.html"
    <div class="container">
        <section class="light-first">
            <h1 class="light-title">
                All about light-<br>
                responsive lenses
            </h1>
            <p class="light-text">Looking for glasses that adapt to wherever you go? Our light-responsive lenses seamlessly change from clear to dark grey in the sun (rain or shine). They also help reduce glare and prevent eyestrain and fatigue. Wahoo!</p>
            <div class="light-flex-center">
                <a href="" class="light-link">
                    How to buy online
                    <img src="img/arrow-down.svg" alt="" class="light-arrow">
                </a>
                <a href="" class="light-link">Find the nearest store</a>
            </div>
        </section>
        <section class="light-second">
            <div class="light-slider">
                <div class="light-slider-item">
                    <div class="light-slider-glasses light-glasses">
                        <svg class="light-one-left light-glasses-lens" width="349" height="312" viewBox="0 0 349 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M174.604 0C215.958 0 282.583 12.3459 318.298 45.1986C341.272 66.1239 349 92.699 349 126.389C349 245.244 263.995 311.787 170.845 311.787C61.8217 311.787 0 219.088 0 120.948C0 67.1702 19.006 38.7118 55.3471 21.7623C86.6756 6.90534 128.029 0 174.604 0Z" fill="black" />
                        </svg>

                        <img src="img/wilkie.jpg" alt="" class="light-slider-img">

                        <svg class="light-one-right light-glasses-lens" width="349" height="312" viewBox="0 0 349 312" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M174.396 0C133.042 0 66.4165 12.3459 30.702 45.1986C7.72772 66.1239 0 92.699 0 126.389C0 245.244 85.0048 311.787 178.155 311.787C287.178 311.787 349 219.088 349 120.948C349 67.1702 329.994 38.7118 293.653 21.7623C262.324 6.90534 220.971 0 174.396 0Z" fill="black" />
                        </svg>
                    </div>
                    <p class="light-slider-title">Wilkie</p>
                    <p class="light-slider-text">Eastern Bluebird Fade</p>
                </div>
                <div class="light-slider-item">
                    <div class="light-slider-glasses light-glasses">
                        <svg class="light-two-left light-glasses-lens" width="366" height="308" viewBox="0 0 366 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M144.171 0C258.927 0 365.812 29.4122 365.812 112.056C365.812 180.823 327.284 308 184.978 308C42.6712 308 0 173.159 0 92.3793C0 43.497 25.2713 0 144.171 0Z" fill="black" />
                        </svg>

                        <img src="img/wilkie2.jpg" alt="" class="light-slider-img">

                        <svg class="light-two-right light-glasses-lens" width="365" height="308" viewBox="0 0 365 308" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M221.356 0C107.168 0 0.812256 29.4122 0.812256 112.056C0.812256 180.823 39.1497 308 180.751 308C322.352 308 364.812 173.159 364.812 92.3793C364.812 43.497 339.666 0 221.356 0Z" fill="black" />
                        </svg>
                    </div>
                    <p class="light-slider-title">Wilkie</p>
                    <p class="light-slider-text">Eastern Bluebird Fade</p>
                </div>
                <div class="light-slider-item">
                    <div class="light-slider-glasses light-glasses">
                        <svg class="light-tree-left light-glasses-lens" width="338" height="265" viewBox="0 0 338 265" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M158.187 0C215.444 0 275.626 5.01577 309.688 26.1238C329.749 38.6632 337.48 55.1735 337.48 79.4164C337.48 119.125 309.27 202.93 277.507 232.815C256.192 252.879 216.28 264.791 170.516 264.791C95.4966 264.791 56.4198 247.654 34.6872 216.096C12.7457 184.539 4.17803 141.905 0.625593 97.8076C-5.85238 21.526 39.4935 0 158.187 0Z" fill="black" />
                        </svg>

                        <img src="img/wilkie3.jpg" alt="" class="light-slider-img">

                        <svg class="light-tree-right light-glasses-lens" width="338" height="265" viewBox="0 0 338 265" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M179.086 0C121.829 0 61.6463 5.01577 27.5847 26.1238C7.5238 38.6632 -0.207977 55.1735 -0.207977 79.4164C-0.207977 119.125 28.0026 202.93 59.7656 232.815C81.0802 252.879 120.993 264.791 166.757 264.791C241.776 264.791 280.853 247.654 302.585 216.096C324.527 184.539 333.094 141.905 336.647 97.8076C343.125 21.526 297.779 0 179.086 0Z" fill="black"/>
                        </svg>
                    </div>
                    <p class="light-slider-title">Wilkie</p>
                    <p class="light-slider-text">Eastern Bluebird Fade</p>
                </div>
                <div class="light-slider-item">
                    <div class="light-slider-glasses light-glasses">
                        <svg class="light-four-left light-glasses-lens" width="379" height="278" viewBox="0 0 379 278" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M180.796 0C338.101 0 379 16.3283 379 70.128C371.449 142.977 356.558 201.592 328.033 239.482C303.913 271.511 237.426 278 199.043 278C128.361 278 62.922 273.813 38.5921 240.319C11.9552 204.104 1.67792 136.907 0 74.5241C0 32.866 20.7642 22.6084 64.5999 13.1883C93.1245 6.90813 135.702 0 180.796 0Z" fill="black" />
                        </svg>
                        <img src="img/wilkie4.jpg" alt="" class="light-slider-img">

                        <svg class="light-four-right light-glasses-lens" width="382" height="280" viewBox="0 0 382 280" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="light-glasses-path" d="M199.773 0C41.2231 0 3.05176e-05 16.4458 3.05176e-05 70.6325C7.61041 144.006 22.6198 203.042 51.3702 241.205C75.6813 273.464 142.695 280 181.381 280C252.623 280 318.58 275.783 343.102 242.048C369.95 205.572 380.309 137.892 382 75.0602C382 33.1024 361.071 22.7711 316.889 13.2831C288.138 6.95783 245.224 0 199.773 0Z" fill="black"/>
                        </svg>

                    </div>
                    <p class="light-slider-title">Wilkie</p>
                    <p class="light-slider-text">Eastern Bluebird Fade</p>
                </div>
            </div>
            <div class="light-second-box">
                <span class="light-second-span">Indoor</span>
                <div class="light-range" max="1" min="0" step="0.01" value="0.5"></div>
                <span class="light-second-span">Outdoor</span>
            </div>
            <p class="light-second-text">*Fun fact: The level of darkness and speed of transition depend on the level of UV exposure and temperature.</p>

        </section>
        <section class="light-third">
            <div class="light-flex-center">
                <div class="light-third-item">
                    <img src="" alt="" class="light-third-img">
                    <p class="style-text">Lenses remain clear indoors, with absence of UV light</p>
                </div>
                <div class="light-third-item">
                    <div class="light-third-right">
                        <p class="light-third-title">But wait. There’s more.</p>
                        <ul class="light-third-menu">
                            <li class="light-third-list">Light-responsive lenses can be added to both single-vision and progressive prescriptions</li>
                            <li class="light-third-list">Scratch-resistant and superhydrophobic, anti-reflective coatings are included</li>
                            <li class="light-third-list">They block 100% of UVA and UVB rays</li>
                            <li class=""><a href="" class="light-third-link">Check prescription ranges and availability</a></li>
                        </ul>
                    </div>
                </div>
                <div class="light-third-item">
                    <div class="light-third-left">
                        <p class="light-third-title">How they work</p>
                        <ul class="light-third-menu">
                            <li class="light-third-list">Light-responsive lenses begin to darken when exposed to UV rays (in both direct and indirect light)—then fade back to clear indoors</li>
                            <li class="light-third-list">The level of darkness and speed of transition depend on the level of UV exposure and temperature</li>
                            <li class="light-third-list">Light-responsive technology is inside the lens—so treatment won’t rub or peel off</li>
                        </ul>
                    </div>
                </div>
                <div class="light-third-item">
                    <img src="" alt="" class="light-third-img">
                    <p class="style-text">Lenses remain clear indoors, with absence of UV light</p>
                </div>
            </div>
        </section>
    </div>
    <section class="light-fourth">
        <img src="img/notebook.png" alt="" class="light-fourth-img">
        <div class="light-fourth-right">
            <h4 class="light-fourth-title">How to buy online</h4>
            <div class="light-fourth-block">
                <p class="light-fourth-name">Find a pair of eyeglasses you like</p>
                <p class="light-fourth-text">Then click “Add to cart.” (Just like you normally<br> would.)</p>
            </div>
            <div class="light-fourth-block">
                <p class="light-fourth-name">Select your prescription type</p>
                <p class="light-fourth-text">Choose from single-vision (the standard prescription for near or distance) or progressive (a prescription that covers reading, distance, and in between).</p>
            </div>
            <div class="light-fourth-block">
                <p class="light-fourth-name">Choose your lenses</p>
                <p class="light-fourth-text">We offer standard clear lenses and light-responsive lenses. If you’d like light-responsive lenses, choose them for an additional $100.</p>
            </div>
        </div>
    </section>
    <section class="light-fifth">
        <div class="container">
            <h2 class="info-second-title">Go forth and find those frames</h2>
            <p class="style-text">If you have any questions, feel free to call 888.492.7297, email <a href=""class="">help@eyesociety.com</a> or <a href=""class="">chat</a> us now!</p>
            <div class="made-third-flex">
                <a href="" class="btn made-third-btn">shop men’s</a>
                <a href="" class="btn made-third-btn">shop women’s</a>
            </div>
        </div>
    </section>
</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
