<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="blog">
    <section class="blog-section blog-post">
        <ul class="blog-menu">
            <li class="blog-menu-main">
                <p class="blog-menu-item">explore by topic
                    <span class="blog-menu-span"></span>
                </p>
                <ul class="blog-menu-drop">
                    <li class="blog-menu-list"><a href="" class="blog-menu-link">all posts</a></li>
                    <li class="blog-menu-list"><a href="" class="blog-menu-link">product</a></li>
                    <li class="blog-menu-list"><a href="" class="blog-menu-link">fashion</a></li>
                    <li class="blog-menu-list"><a href="" class="blog-menu-link">travel</a></li>
                    <li class="blog-menu-list"><a href="" class="blog-menu-link">disruptors & dreamers</a></li>
                </ul>
            </li>
        </ul>
        <div class="container">
            <div class="blog-seventh">
                <div class="blog-flex">
                    <div class="blog-seventh-main">
                        <div class="blog-seventh-view">
                            <p class="blog-second-black">fashion | product</p>
                            <p class="blog-second-title">femme fatale</p>
                            <a href="" class="blog-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"></path>
                                </svg>
                            </a>

                        </div>
                        <img src="" alt="" class="blog-seventh-img">
                    </div>
                    <div class="blog-seventh-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-seventh-img_two">
                        <div class="blog-seventh-info">
                            <p class="blog-third-black">DISRUPTORS & DREAMERS </p>
                            <p class="blog-third-title">
                                simple pleasures
                            </p>
                            <a href="" class="blog-link blog-seventh-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-seventh-box blog-pt">
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">product | fashion </p>
                            <p class="blog-third-title">
                                blacktop film
                                <span class="blog-third-span">
                                WHERE THE GRAVEL MEETS THE DESERT SKY <br> IS WHERE THE BLACKTOP FINDS ITS <br>INSPIRATION. EXPERIENCE ITS REBELLIOUS <br>SPIRIT ON FILM.
                            </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">DISRUPTORS & DREAMERS</p>
                            <p class="blog-third-title">
                                emilia clarke
                                <span class="blog-third-span">
                                    fitness icon
                                </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card_main">
                        <div class="blog-seventh-product">
                            <div class="blog-seventh-view">
                                <p class="blog-second-black">fashion | product</p>
                                <p class="blog-second-title">the blacktop
                                    collection</p>
                                <p class="blog-third-span">
                                    WHERE THE GRAVEL MEETS THE DESERT SKY IS WHERE THE BLACKTOP FINDS ITS INSPIRATION. EXPERIENCE ITS REBELLIOUS SPIRIT ON FILM.
                                </p>
                                <a href="" class="blog-link">view post
                                    <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.5L6.5 6L1 11.5" stroke="black"></path>
                                    </svg>
                                </a>

                            </div>
                            <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-seventh-img">
                        </div>
                    </div>
                </div>
                <div class="blog-seventh-box">
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">product | fashion </p>
                            <p class="blog-third-title">
                                blacktop film
                                <span class="blog-third-span">
                                WHERE THE GRAVEL MEETS THE DESERT SKY <br> IS WHERE THE BLACKTOP FINDS ITS <br>INSPIRATION. EXPERIENCE ITS REBELLIOUS <br>SPIRIT ON FILM.
                            </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">DISRUPTORS & DREAMERS</p>
                            <p class="blog-third-title">
                                emilia clarke
                                <span class="blog-third-span">
                                    fitness icon
                                </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="blog-fifth">
                <div class="blog-fifth-container">
                    <h2 class="blog-fifth-title">like what you see?</h2>
                    <p class="blog-fifth-text">Join the MVMT newletter for new product releases, travel stories, fashion inspiration and exclusive offers.></p>
                    <form class="blog-form">
                        <div class="blog-field">
                            <input type="text" class="blog-input" placeholder="Your Email" required>
                            <button type="submit" class="blog-btn btn">sign up</button>
                        </div>
                    </form>
                </div>
                <div class="blog-flex blog-fifth-blogs">
                    <div class="blog-fifth-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-fifth-img">
                        <a href="" class="blog-fifth-link">blog category
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                    <div class="blog-fifth-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-fifth-img">
                        <a href="" class="blog-fifth-link">blog category
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                    <div class="blog-fifth-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-fifth-img">
                        <a href="" class="blog-fifth-link">blog category
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                    <div class="blog-fifth-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-fifth-img">
                        <a href="" class="blog-fifth-link">blog category
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                    <div class="blog-fifth-card">
                        <img src="//cdn.shopify.com/s/files/1/0377/2037/collections/Collections_men_shopall_2880x@2x.progressive.jpg?v=1563554379" alt="" class="blog-fifth-img">
                        <a href="" class="blog-fifth-link">blog category
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

    </section>
    <section class="blog-sixth fourth">
        <div class="fourth-flex">
            <div class="fourth-item">
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
            </div>
            <a href="#" class="fourth-center" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover">
                <p class="fourth-center-text">SHOP OUR INSTAGRAM</p>
                <div class="fourth-center-link">
                    <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 4C11 1.8 9.2 0 7 0C4.8 0 3 1.8 3 4H0V13.5C0 14.9 1.1 16 2.5 16H11.5C12.9 16 14 14.9 14 13.5V4H11ZM7 1C8.7 1 10 2.3 10 4H4C4 2.3 5.3 1 7 1ZM13 13.5C13 14.3 12.3 15 11.5 15H2.5C1.7 15 1 14.3 1 13.5V5H13V13.5Z" fill="#1D1D1B"/>
                        <path d="M4 6.19995H3V7.19995H4V6.19995Z" fill="#1D1D1B"/>
                        <path d="M11 6.19995H10V7.19995H11V6.19995Z" fill="#1D1D1B"/>
                    </svg>
                </div>
            </a>
            <div class="fourth-item">
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
                <div class="fourth-item-block" style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(//cdn.shopify.com/s/files/1/2422/6603/files/D_SA_First_02_1920x.progressive.jpg?v=1561491703) no-repeat center/cover"></div>
            </div>
        </div>
    </section>
</div>

@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
