<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="blog">
    @import "header.html"
    <section class="blog-first">
        <h1 class="blog-title">the eye society style</h1>
        <p class="blog-text">INSPIRED BY THE GO-GETTERS & THE RADICAL PURSUIT OF AUTHENTICITY, OUR MVMT COMMUNITY IS UNITED BY THOSE WHO DARE TO LIVE LIFE ON THEIR OWN TERMS.</p>
    </section>
    <section class="blog-section">
        <ul class="blog-menu">
            <li class="blog-menu-list"><a href="" class="blog-menu-link">all posts</a></li>
            <li class="blog-menu-list"><a href="" class="blog-menu-link">product</a></li>
            <li class="blog-menu-list"><a href="" class="blog-menu-link">fashion</a></li>
            <li class="blog-menu-list"><a href="" class="blog-menu-link">travel</a></li>
            <li class="blog-menu-list"><a href="" class="blog-menu-link">disruptors & dreamers</a></li>
        </ul>
        <div class="container">
            <div class="blog-second">
                <p class="blog-second-rotate blog-main">discover</p>
                <div class="blog-second-product">
                    <img src="" alt="" class="blog-second-img">
                    <div class="blog-second-card">
                        <p class="blog-second-black">product</p>
                        <p class="blog-second-title">the coronada
                            collection</p>
                        <a href="" class="blog-link">view post
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="blog-third">
                <p class="blog-main">EDITOR'S PICKS</p>
                <div class="blog-third-flex">
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">product | fashion </p>
                            <p class="blog-third-title">
                                blacktop film
                                <span class="blog-third-span">
                                WHERE THE GRAVEL MEETS THE DESERT SKY <br> IS WHERE THE BLACKTOP FINDS ITS <br>INSPIRATION. EXPERIENCE ITS REBELLIOUS <br>SPIRIT ON FILM.
                            </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">DISRUPTORS & DREAMERS</p>
                            <p class="blog-third-title">
                                emilia clarke
                                <span class="blog-third-span">
                                    fitness icon
                                </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">travel </p>
                            <p class="blog-third-title">
                                that one mvtm campaign II
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card">
                        <img src="" alt="" class="blog-third-img">
                        <div class="blog-third-info">
                            <p class="blog-third-black">product | fashion </p>
                            <p class="blog-third-title">
                                blacktop film
                                <span class="blog-third-span">
                                WHERE THE GRAVEL MEETS THE DESERT SKY <br> IS WHERE THE BLACKTOP FINDS ITS <br>INSPIRATION. EXPERIENCE ITS REBELLIOUS <br>SPIRIT ON FILM.
                            </span>
                            </p>
                            <a href="" class="blog-link blog-third-link">view post
                                <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="blog-third-card blog-third-more">
                        <p class="blog-title_two">
                            want more?!
                        </p>
                        <a href="" class="blog-link blog-link-line">view all posts</a>
                     </div>
                </div>
            </div>
            <div class="blog-second">
                <p class="blog-second-rotate blog-main">DISRUPTORS & DREAMERS</p>
                <div class="blog-second-product">
                    <img src="" alt="" class="blog-second-img">
                    <div class="blog-second-card">
                        <p class="blog-second-black">DISRUPTORS & DREAMERS</p>
                        <p class="blog-second-title">#title</p>
                        <a href="" class="blog-link">view post
                            <svg class="blog-arrow" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 0.5L6.5 6L1 11.5" stroke="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="blog-fourth">

            </div>
        </div>
    </section>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
