.product
  &-header
    display: flex
    justify-content: space-between
    border-top: 1px solid #BCBEC0
    padding: 10px 0
    overflow: hidden
    position: relative
  &-item
    display: flex
    justify-content: flex-end
    position: absolute
    right: -100%
    top: 50%
    pointer-events: none
    transition: all 0.5s ease
    transform: translateY(-50%)
    width: 0
    align-items: center
    &.active
      pointer-events: auto
      width: 50%
      right: 0
  &-svg
    cursor: pointer
  &-btn
    font-size: 16px
    height: 30px
    line-height: 24px
    margin-left: 2.6vw
    &-bag
      max-width: 160px
  &-span
    margin-right: 30px
    white-space: nowrap
    font-family: "ploni-light", sans-serif
    font-size: 18px
    line-height: 26px
    letter-spacing: 0.1em
    font-variant: small-caps
    color: #000000
  &-input
    width: 65%
  &-flex
    display: flex
    white-space: nowrap
  &-between
    display: flex
    justify-content: space-between
    align-items: center
  &-revers
    display: flex
    flex-direction: row-reverse
    .product-third-item
      padding: 0 2.5vw
  &-title
    font-family: "ploni-light", sans-serif
    font-size: 36px
    line-height: 53px
    text-align: center
    letter-spacing: 0.1em
    font-variant: small-caps
    color: #000000
  &-mob
    display: none
    width: 100%
    z-index: 5
    background: #FFffff
    &-text
      font-family: "ploni-light", sans-serif
      font-size: 14px
      text-align: left
      line-height: 21px
      letter-spacing: 0.02em
      white-space: normal
    &-hide
      display: none
    &-flex
      display: flex
      overflow-x: auto
    &-menu
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
    &-red
      font-family:  "ploni-bold", sans-serif
      font-size: 14px
      line-height: 21px
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #ED0F0F
      margin-top: 3px
      text-align: left
      display: none
    &-btns
      display: flex
      margin: 15px 0
    &-white
      background: #ffffff
      color: #000000
      border: 1px solid #000000
      width: 55%
      display: flex
      justify-content: center
      align-items: center
    &-black
      width: 45%
    &-arrow
      margin-left: 10px
      display: none
      transition: all 0.4s ease
      &.active
        transform: rotate(180deg)
    &-item
      display: flex
      justify-content: space-between
      align-items: center
      padding: 10px 0
      min-height: 40px
    &-drop
      padding-bottom: 20px
      display: none
      position: relative

  &-returns
    &-btn
      margin-left: 7px
  &-first
    padding: 35px 0 0
    position: relative
    &-left
      max-width: 775px
      width: 100%
      max-height: 815px
      height: 100%
      position: relative
    &-fixed
      display: flex
      position: absolute
      top: 0
      left: 0
      width: 100%
      justify-content: space-between
      align-items: center
      padding: 10px 15px
    &-text
      font-family: "ploni-light", sans-serif
      font-size: 16px
      line-height: 24px
      text-align: center
      letter-spacing: 0.08em
      text-transform: uppercase
      font-variant: small-caps
      color: #000000
      display: flex
      flex-wrap: wrap
      align-items: center
      strong
        margin-left: 7px
    &-right
      text-align: center
      width: 100%
      padding-left: 2.6vw
      max-width: 515px
      position: relative
      overflow: hidden
    &-name, &-span
      font-family: "ploni-light", sans-serif
      font-size: 20px
      line-height: 29px
      text-align: center
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #000000
      margin-bottom: 6px
    .collection-third-graythrough, .graythrough
      font-size: 20px
      line-height: 29px
    &-span
      font-size: 14px
      line-height: 21px
      margin: 2px 0 30px
    &-btn
      margin-bottom: 15px
    &-field
      display: flex
      justify-content: space-between
      width: 100%
      border-bottom: 1px solid #000000
      margin: 15px 0 20px
      align-items: center
      a
        padding-left: 15px
      path
        transition: all 0.4s ease
      &:hover
        path
          stroke: #808285
    &-input
      font-size: 18px
      line-height: 30
      height: 30px
      width: 100%
      &::-webkit-input-placeholder
        font-size: 18px
        line-height: 30

      &:-moz-placeholder
        font-size: 18px
        line-height: 30

      &::-moz-placeholder
        font-size: 18px
        line-height: 30

      &:-ms-input-placeholder
        font-size: 18px
        line-height: 30
    &-msg
      color: #ED0F0F
      font-family: "ploni-bold", sans-serif
    &-flex
      display: flex
      justify-content: space-between
      align-items: center
    &-box
      width: 100%
    &-img
      width: 100%
      height: 356px
      background: #F8F8F8
      object-fit: cover
      margin: 22px 0 8px
    &-bottom
      display: flex
      flex-wrap: wrap
      justify-content: center
      padding: 15px 0
      .product-first-text
        font-family: "ploni-regular", sans-serif
    &-icon
      margin: 0 15px 0 30px
  &-bold
    font-family: "ploni-bold", sans-serif
    color: #000000
    border-bottom: 1px solid #000000
  &-colors
    max-width: 515px
    width: 100%
    margin: 10px auto 30px
    padding: 0 18px
    &-item
      width: 40px
      height: 40px
      border: 1px solid #F8F8F8
      background: #F8F8F8
      margin: 0 5px
      cursor: pointer
    .slick-current
      .product-colors-item
        border: 1px solid #000000
  .slick-prev
    left: 0
  .slick-next
    right: 0
    transform: scale(-1,1)
  &-slider
    &-item
      background-size: cover
    &-img
      object-fit: contain
      height: 835px
    &-two
      margin-bottom: 50px
      &_img
        margin: 0 5px
        height: 13.5vw
        object-fit: cover
        background: #F8F8F8

    &-tree
      &_img
        margin: 0 10px
        height: 23.6vw
        object-fit: cover
        background: #F8F8F8
      .slick-prev
        left: -30px
      .slick-next
        right: -30px
    &-four
      .slick-prev
        left: -30px
      .slick-next
        right: -30px
  .slick-dots
    position: absolute
    left: 10px
    top: 50%
    transform: translateY(-50%)
  .slick-dots li button
    position: relative
    color: transparent
    display: flex
    align-items: center
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: none
      border: 1px solid #000000
      box-sizing: border-box
      width: 6px
      height: 6px
      border-radius: 50%
  .slick-dots .slick-active button
    &:before
      background: #000000
.slick-slide, .slick-current, .slick-active, .slick-center
  outline: none
.slick-arrow
  position: absolute
  top: 11px
  background: url("../img/arrow-left.svg") no-repeat center / contain
  width: 8px
  height: 16px
  z-index: 2
.product
  &-second
    position: relative
    &-align
      height: 100%
      position: relative
    &-main
      min-height: 800px
      background: #F8F8F8
    &-box
      position: absolute
      left: 4.7vw
      bottom: 30px
    &-flex
      display: flex
    &-tab
      font-family: "ploni-light", sans-serif
      font-size: 30px
      line-height: 44px
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #808285
      position: relative
      margin-right: 30px
      margin-bottom: 20px
      cursor: pointer
      &:last-child
        margin-right: 0
      &:before
        content: none
        position: absolute
        left: 0
        bottom: 3px
        height: 1px
        width: 100%
        background: #000000
      &.active
        color: #000000
        &:before
          content: ''
    &-item
      display: none
      &.active
        display: block
    &-text
      font-family: "ploni-light", sans-serif
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1em
      color: #000000
      margin-bottom: 19px
    &-disc
      list-style-type: disc
      padding-left: 5px
      margin-left: 15px
    &-col
      margin-right: 50px
      .product-second-text
        margin-bottom: 3px
        letter-spacing: 0.02em
        font-variant: small-caps
      &:last-child
        margin-right: 0
    &-btn
      display: inline-block
      width: 220px
      background: #FFffff
      color: #000000
      border: 1px solid #000000
      font-size: 16px
      line-height: 49px
      margin: 30px 20px 0 0
      &:last-child
        margin: 30px 0 0 0
    &-bottom
      margin-top: 120px
      flex-wrap: wrap
    &-popup
      background: #E5E5E5
      z-index: 9
      width: 100%
      height: 100%
      position: fixed
      left: 0
      top: -100%
      display: flex
      align-items: center
      pointer-events: none
      justify-content: center
      transition: all 0.5s ease
      &.active
        top: 0
        pointer-events: auto
    &-details
      width: 100%
      max-width: 1280px
      margin: 0 auto
      transition: all 0.5s ease
      background: #ffffff
      height: 100%
      max-height: 620px
      position: relative
      overflow-y: auto
    &-close
      position: absolute
      right: 20px
      top: 20px
      cursor: pointer
    &-title
      text-align: center
      font-family: "ploni-regular", sans-serif
      font-size: 20px
      line-height: 29px
      letter-spacing: 0.1em
      color: #000000
      padding: 14px 0 12px
      border-bottom: 1px solid #BCBEC0
    &-content
      padding: 0 50px 25px
    &-gray
      font-family: "ploni-regular", sans-serif
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #808285
      margin: 25px 0 10px
    &-name
      font-family:  "ploni-regular", sans-serif
      font-size: 20px
      line-height: 29px
      letter-spacing: 0.1em
      color: #000000
      margin-bottom: 8px
    &-img
      margin: 30px auto 0

  &-third
    padding: 30px 0 0

    &-svg
      height: 24.1vw
    &-eye
      position: relative
      width: calc(50% + 5vw)
      margin-left: -5vw
      display: flex
      align-items: center
      flex-direction: column
    &-side
      position: absolute
      height: initial
      width: 100%
      left: calc(50% + 2vw)
      top: 50%
      transform: translate(-50%, -50%)
      display: none
      &.active
        display: block
      .product-second-text
        font-family: "ploni-regular", sans-serif
        margin: 0.8vw 0
        font-variant: small-caps
        text-align: center
    &-left
      margin-right: 5vw
      height: 9.9vw
    &-right
      margin-left: 5vw
      height: 10.65vw
    &-bottom, &-top, &-bottom svg, &-top svg
      position: absolute
      left: 50%
      transform: translateX(-50%)
    &-bottom
      bottom: -2.7vw
      svg
        bottom: 0
        height: 5.8vw
      .product-second-text
        margin: 2.1vw 0
    &-top
      svg
        top: -2.3vw
        height: 7.2vw
    &-line
      margin: 0 auto
      display: block
      height: 8vw
    &-item
      width: calc(50%)
      padding-left: 6.25vw
      .product-title
        text-align: left
    &-flex, &-row
      display: flex
      align-items: center
      justify-content: center
    &-row
      margin-top: 2.5vw
    &-tab
      margin: 15px 20px 0 0
      font-family: "ploni-regular", sans-serif
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1em
      color: #808285
      position: relative
      cursor: pointer
      white-space: nowrap
      &:last-child
        margin: 15px 0 0 0
      &.active
        color: #000000
        &:before
          content: ''
          position: absolute
          left: 0
          bottom: 0
          height: 1px
          width: 100%
          background: #000000
    &-options
      display: none
      &.active
        display: block
    &-disc
      list-style-type: disc
      margin-left: 17px
    &-btn
      text-decoration-line: underline
      font-family: 'ploni-regular', sans-serif
      margin-left: 17px
      cursor: pointer
    &-scale
      position: relative
      width: calc(50% + 5vw)
      margin-left: 0
      margin-right: -5vw
      display: flex
      justify-content: center
      .product-third-item
        margin-left: 0
    &-block
      padding: 70px 0
      border-bottom: 1px solid #BCBEC0
      &:last-child
        border: none
    &-offerings
      display: none
      &.active
        display: block
    &-change
      display: flex
      flex-wrap: wrap
      max-width: 500px
      width: 100%
    &-drop
      margin-top: 29px
    &-protection
      display: none
      position: relative
      svg
        height: 24.6vw
        width: 41.9vw

      &.active
        display: block
    &-img
      position: absolute
      top: 1vw
      left: -9vw
    &-materials
      display: flex
      flex-wrap: wrap
      max-width: 405px
      &:nth-child(2)
        margin: 15px 35px 0 0
    &-material
      display: none
      &.active
        display: block
    &-span
      font-family: "ploni-light", sans-serif
      font-size: 14px
      line-height: 21px
      text-align: center
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #808285
    &-technology
      max-width: 320px
      width: 100%
      margin: 0 auto
      padding-bottom: 18px
      &.active
        path
          fill: #000000
        .product-third-span
          color: #000000
  &-fourth
    &-title
      font-family: "ploni-light", sans-serif
      font-size: 20px
      line-height: 29px
      text-align: center
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #000000
      margin-bottom: 35px
    &-flex
      display: flex
      flex-wrap: wrap
      padding: 0 4vw
    &-content
      background: #F8F8F8
      padding: 35px 0 0
    &-item
      width: 33.33%
      display: flex
      align-items: flex-start
      margin-bottom: 55px
      padding-right: 20px
    &-img
      margin-right: 20px
    &-name
      font-family: "ploni-regular", sans-serif
      font-size: 18px
      line-height: 26px
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #000000
      display: block
      margin-bottom: 5px
    &-text
      font-family: "ploni-light", sans-serif
      font-size: 16px
      line-height: 19px
      letter-spacing: 0.1em
      color: #2E2E2E
  &-fifth
    padding: 50px 0 100px
    &-flex
      display: flex
      justify-content: center
    &-tab, &-title
      font-family: "ploni-light", sans-serif
      font-size: 20px
      line-height: 29px
      text-align: center
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #808285
      position: relative
      margin: 0 12px 40px 12px
      display: block
      &.active
        color: #000000
        &:before
          content: ''
          position: absolute
          left: 0
          bottom: 0
          height: 1px
          width: 100%
          background: #000000
    .slick-arrow
      top: 50%
      transform: translateY(-50%)

    .slick-next
      transform: translateY(-50%) scale(-1, 1)
    &-title
      color: #000000
    &-block
      margin-bottom: 70px
      &:first-child
        width: 72%
        padding-right: 50px
        position: relative
        &:before
          content: ''
          position: absolute
          right: 0
          bottom: 93px
          width: 1px
          height: 24vw
          background: #BCBEC0
      &:last-child
        width: 28%
        padding-left: 50px
      .slick-arrow
        top: calc(50% - 60px)
    .slick-arrow
      width: 12px
      height: 24px
    &-name
      text-align: center
      font-family: "ploni-light", sans-serif
      font-size: 18px
      line-height: 26px
      letter-spacing: 0.1em
      text-transform: uppercase
      font-variant: small-caps
      color: #000000
      margin-top: 15px
    &-price
      font-family: "ploni-regular", sans-serif
      display: block
    &-span
      font-size: 18px
      line-height: 26px
      text-decoration-color: #ED0F0F
    &-btn
      background: none
      border: 1px solid #000000
      box-sizing: border-box
      color: #000000
      line-height: 60px
      height: 60px
      margin: 20px 20px 0 0
      &:nth-child(2n+2)
        margin: 20px 0 0 0
    &-more
      display: none
  &-bag
    position: absolute
    left: 0
    top: 0
    width: 100%
    background: #ffffff
    z-index: 3
    padding-left: 2.6vw
    height: auto
    padding-bottom: 30px
    transform: translateY(-100%)
    transition: all 0.5s ease
    &-main
      font-family: "ploni-bold", sans-serif
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #000000
      margin-bottom: 9px
      display: block
    &-mob
      display: none
      border-bottom: 1px solid #BCBEC0
      padding: 10px 0 20px
    &-list
      border-top: 1px solid #BCBEC0
      margin: 40px 0 0 0
    &.active
      transform: translateY(0)
    &-title
      font-family: "ploni-light", sans-serif
      font-size: 26px
      line-height: 38px
      text-align: center
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #000000
      margin: 15px 0 35px
    &-text
      font-family: "ploni-light", sans-serif
      font-size: 14px
      line-height: 21px
      text-align: center
      letter-spacing: 0.02em
      color: #000000
      display: block
      white-space: initial
    &-amount
      margin: 35px 0 20px
    &-table
      display: block
    &-row
      display: flex
      justify-content: space-around
    &-price
      display: inline-block
      text-align: center
      font-family: "ploni-light", sans-serif
      font-size: 18px
      line-height: 26px
      text-align: center
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #808285
      margin-bottom: 10px
      cursor: pointer
      position: relative
      &:before
        content: none
        height: 1px
        width: 90%
        position: absolute
        left: 50%
        transform: translateX(-50%)
        bottom: 2px
        background: #000000
    &-label
      width: -webkit-fill-available
      position: relative
    &-btn
      margin-top: 20px


  .select2-container--default .select2-selection--single
    border-radius: 0
  span.select2-selection.select2-selection--single
    width: 100px
    height: 70px
    border: 1px solid #000000
    border-radius: 0
    display: flex
    align-items: center
    font-family: "ploni-regular", sans-serif
    font-size: 20px
    letter-spacing: 0.04em
    color: #000000
    padding: 0 15px
    outline: none
    position: relative
    //margin-bottom: 20px
  .select2-container
    width: 100px!important
    z-index: 9
  .select2-container .select2-selection--single .select2-selection__rendered
    padding: 0
    line-height: 69px
  .select2-results__option[aria-selected]
    border: none
    font-family: "ploni-regular", sans-serif
    font-size: 20px
    line-height: 29px
    letter-spacing: 0.04em
    color: #000000
    padding: 2.5px 15px
  .select2-dropdown
    border: 1px solid #000000
    border-radius: 0
    //width: 100px!important
    //margin-top: -20px
    max-height: 360px
    overflow-y: auto
    padding: 9px 0
  .select2-container--default .select2-selection--single .select2-selection__arrow
    background: url("../img/arrow-down.svg") no-repeat center
    height: 10px
    top: 50%
    transform: translateY(-50%)
    margin-right: 5px
    transition: all 0.5s ease
    b
      display: none
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow
    transform: rotate(180deg) translateY(50%)
    transition: all 0.5s ease
  .select2-container--default .select2-selection--single .select2-selection__placeholder
    font-family:  "ploni-regular", sans-serif
    font-size: 20px
    line-height: 29px
    letter-spacing: 0.04em
    color: #000000
  .required
    span.select2-selection.select2-selection--single
      border: 1px solid #ED0F0F
    .select2-container--default .select2-selection--single .select2-selection__placeholder
      color: #ED0F0F
    .select2-container--default .select2-selection--single .select2-selection__arrow
      background: url("../img/arrow-red.svg") no-repeat center
.popup-boxes
  .select2-container, span.select2-selection.select2-selection--single
    width: 195px!important
    height: 50px
    justify-content: center

.reviews
  padding: 55px 0
  display: none
  &-container
    max-width: 940px
    width: 100%
    margin: 0 auto
    padding: 0 20px
  &-title
    font-family: "ploni-bold", sans-serif
    font-size: 20px
    line-height: 29px
    text-align: center
    letter-spacing: 0.1em
    font-variant: small-caps
    color: #000000
    margin-bottom: 25px
  &-flex
    display: flex
    &-center
      display: flex
      justify-content: center
      margin-bottom: 30px
      .star
        height: 15px
        .jq-star
          width: 15px
          height: 15px
          &.active
            width: 15px
            height: 15px
            background: url("../img/star-black.svg") no-repeat
        &:hover .active ~ .jq-star
          background: url("../img/star-black.svg") no-repeat center
          width: 15px
          height: 15px
        &:hover .jq-star:hover ~ .jq-star, .active ~ .jq-star
          background: url("../img/star.svg") no-repeat center
          width: 15px
          height: 15px
          margin-bottom: 3px
  &-numbers
    font-family: "ploni-regular", sans-serif
    font-size: 18px
    line-height: 26px
    text-align: center
    letter-spacing: 0.1em
    color: #000000
    &-center
      margin: 0 50px 0 70px
  &-link
    display: inline-block
    margin: 0 auto
    font-family: "ploni-regular", sans-serif
    font-size: 16px
    line-height: 24px
    text-align: center
    letter-spacing: 0.1em
    font-variant: small-caps
    color: #000000
    position: relative
    &:before
      content: ''
      position: absolute
      bottom: 4px
      height: 1px
      width: 100%
      background: #000000
    &-btn
      display: flex
      margin: 0 auto 15px
  &-content
    margin-top: 20px
    position: relative
  &-item
    border-bottom: 1px solid #BCBEC0
    padding: 40px 20px 25px
    &:first-child
      border-top: 1px solid #BCBEC0

  &-left
    width: 30%
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
  &-right
    width: 70%
    padding-right: 25px
  &-date
    font-family: "ploni-regular", sans-serif
    font-size: 16px
    line-height: 24px
    text-align: center
    letter-spacing: 0.1em
    font-variant: small-caps
    color: #808285
    margin-top: 7px
  &-name
    display: block
    font-variant: none
    font-family: "ploni-bold", sans-serif
  &-text
    font-family: "ploni-light", sans-serif
    font-size: 14px
    line-height: 21px
    letter-spacing: 0.02em
    color: #000000
  &-bottom
    display: flex
    justify-content: flex-end
    margin-top: 10px
    align-items: end
    .reviews-text
      color: #808285
    &-like
      display: flex
      align-items: center
      padding: 2px 0 0 0
  &-like
    margin: 0 6px 0 10px
  &-write
    background: #FFffff
    width: 100%
    display: none
  &-form
    display: flex
    width: 100%
    &-img
      width: 450px
      height: 680px
      object-fit: cover
      background: #F8F8F8
      margin-right: 35px
    &-name
      font-family: "ploni-bold", sans-serif
      font-size: 16px
      line-height: 24px
      letter-spacing: 0.1em
      font-variant: small-caps
      color: #000000
      margin-bottom: 2px
    &-right
      width: 100%
      max-width: 395px
    &-field
      margin-bottom: 10px
    &-input
      height: 30px
      line-height: 30px
      border: 1px solid #BCBEC0
      box-sizing: border-box
      width: 100%
      margin-bottom: 10px
      font-size: 14px
      padding: 0 15px
    .star
      display: flex
      align-items: center
      height: 32px
      .jq-star
        background: url("../img/star-black.svg") no-repeat
        width: 32px
        height: 32px
        margin-right: 1px
        &.active
          width: 32px
          height: 32px
          background: url("../img/star-black.svg") no-repeat
      &:hover .active ~ .jq-star
        width: 32px
        height: 32px
      &:hover .jq-star:hover ~ .jq-star, .active ~ .jq-star
        background: url("../img/star-white.svg") no-repeat center
        width: 32px
        height: 32px
    &-textarea
      border: 1px solid #BCBEC0
      width: 100%
      height: 180px
      overflow-y: auto
      padding: 10px 15px
      font-family: "ploni-regular", sans-serif
      font-size: 14px
      line-height: 1
      letter-spacing: 0.1em
      color: #000000
      display: block
    &-btn
      margin-top: 30px
      display: block




