<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <!--    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">-->
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

<div class="progressive">
    @import "header.html"
    <section class="progressive-first">
        <h1 class="progressive-title_main progressive-title">Progressives</h1>
        <p class="progressive-text">Shopping at Warby Parker is convenient, we’ve got plenty of stylish options, and there are no hidden add-ons. Progressives starting at $295, including prescription lenses.</p>
    </section>
    <div class="container">
        <section class="progressive-second">
            <div class="light-flex-center">
                <div class="light-third-item">
                    <img src="" alt="" class="progressive-second-img">
                </div>
                <div class="light-third-item">
                    <div class="light-third-right">
                        <p class="progressive-title">Come see us sometime</p>
                        <strong class="progressive-strong">Visit a store and spend some one-on-one time with our expert advisors and opticians. They’re here to help you:</strong>
                        <ul class="light-third-menu">
                            <li class="light-third-list ">Find the best, most stylish pair for your prescription</li>
                            <li class="light-third-list ">Take all the necessary measurements</li>
                        </ul>
                        <a href="" class="progressive-btn btn">Find a location near you</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="light-fourth progressive-third">
        <img src="" alt="" class="progressive-third-img">
        <div class="progressive-third-right">
            <h4 class="progressive-title">Our frames</h4>
            <p class="progressive-text">Choose from a wide range of stylish colors and shapes, crafted in state-of-the-art materials like custom cellulose acetate and lightweight titanium.
                <br><br>
                All our lenses are equipped with a scratch-resistant treatment, anti-reflective and superhydrophobic coating, and UV protection—at no extra cost. At Warby Parker, we use digital free-form progressive lenses, which are the most advanced in progressives technology.</p>
        </div>
    </section>
    <div class="container">
        <section class="progressive-fourth">

            <div class="progressive-third-right">
                <h4 class="progressive-title">Measurements</h4>
                <p class="progressive-text">
                    Whether you shop in store or online, getting your measurements squared away is an anxiety-free process. (FYI: We offer lifetime adjustments on any Warby Parker pair if you ever find yourself needing a tune-up.)
                </p>
                <ul class="light-third-menu">
                    <li class="light-third-list "><span class="progressive-span">Browsing at a store?</span> Someone from our team of super friendly and super knowledgeable advisors and opticians will take down all of your measurements.</li>
                    <li class="light-third-list "><span class="progressive-span">Perusing online?</span>  Enter your prescription info and our precise, predictive technology will calculate the rest, using segment heights—this determines where your distance prescription will progress into your reading prescription—taken from customers by our in-store opticians.</li>
                </ul>
            </div>
            <img src="" alt="" class="progressive-fourth-img">
        </section>
        <section class="progressive-fifth">
            <h4 class="progressive-title progressive-fifth-title">About progressive lenses</h4>
            <p class="progressive-text progressive-fifth-text">
                Progressives are great if you need both distance and reading correction (there will be an ADD power on your prescription). Compared to bifocal and trifocal lenses, progressives provide sharper overall vision and seamlessly transition from distance correction on top to reading correction on bottom. That means you can see your whole field of vision without switching between multiple pairs of glasses, or traveling between the lines on bifocals and trifocals.
            </p>
        </section>
        <section class="progressive-sixth">
            <div class="progressive-flex">
                <ul class="progressive-sixth-item">
                    <li class="progressive-sixth-list progressive-sixth-top active">
                        <p class="progressive-text">distance</p>
                    </li>
                    <li class="progressive-sixth-list progressive-sixth-mid">
                        <svg  class="progressive-sixth-left" width="68" height="190" viewBox="0 0 68 190" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 1C40.8954 28.8693 67 75.1862 67 127.612C67 149.429 62.4792 170.188 54.3252 189" stroke="#BCBEC0" stroke-dasharray="6 6"/>
                        </svg>
                        <p class="progressive-text">intermediate</p>
                        <svg class="progressive-sixth-right" width="81" height="205" viewBox="0 0 81 205" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M80 4.48755C36.2426 32.3697 6.45777 80.3718 4.30474 135.929C3.40876 159.048 7.38492 181.234 15.3219 201.507" stroke="#BCBEC0" stroke-dasharray="6 6"/>
                        </svg>
                    </li>
                    <li class="progressive-sixth-list progressive-sixth-bottom">
                        <p class="progressive-text">reading</p>
                    </li>
                </ul>
                <ul class="progressive-sixth-menu">
                    <li class="progressive-sixth-main active">
                        <p class="progressive-sixth-title">Distance</p>
                        <p class="progressive-text progressive-sixth-drop">Look straight ahead (eye level) for activities like watching TV and driving.</p>
                    </li>
                    <li class="progressive-sixth-main">
                        <p class="progressive-sixth-title">Intermediate</p>
                        <p class="progressive-text progressive-sixth-drop">
                            Good for spending time on the computer. (It’s best if the top of your monitor or laptop screen is just below eye level.)
                        </p>
                    </li>
                    <li class="progressive-sixth-main">
                        <p class="progressive-sixth-title">Reading</p>
                        <p class="progressive-text progressive-sixth-drop">
                            For all close-up work like reading (of course) and paperwork, you’ll want to keep your chin up and lower your eyes.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <section class="progressive-seventh">
        <div class="progressive-flex">
            <div class="progressive-seventh-item">
                <img src="" alt="" class="progressive-seventh-img">
                <a href="#" class="progressive-seventh-link">more ways to save</a>
                <p class="progressive-seventh-text">
                    You could save with <span class="progressive-bold">FSA/HSA</span> or vision insurance, p.s. Just fill in that info when you checkout, or see if you can get reimbursed with your <span class="progressive-bold"> vision insurance.</span>

                </p>
            </div>
            <div class="progressive-seventh-item">
                <img src="" alt="" class="progressive-seventh-img">
                <a href="#" class="progressive-seventh-link">more ways to save</a>
                <p class="progressive-seventh-text">
                    You could save with <span class="progressive-bold">FSA/HSA</span> or vision insurance, p.s. Just fill in that info when you checkout, or see if you can get reimbursed with your <span class="progressive-bold"> vision insurance.</span>

                </p>
            </div>
        </div>
    </section>
</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
