<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
    <div class="wishlist">

        <div class="container">
            <div class="wishlist-flex">
                <div class="wishlist-left">
                    <ul class="wishlist-left-menu">
                        <li class="wishlist-left-list active">wishlist</li>
                        <li class="wishlist-left-list">order history</li>
                        <li class="wishlist-left-list ">saved adresses</li>
                        <li class="wishlist-left-list ">account info</li>
                        <li class="wishlist-left-list ">rewards</li>
                    </ul>
                    <a href="#" class="wishlist-left-out">log out</a>
                </div>
                <div class="wishlist-right">
                    <ul class="wishlist-right-menu">
                        <li class="wishlist-right-list active">
                            <h2 class="wishlist-title"><img src="img/arrow-left.svg" alt="" class="wishlist-left-back"> wishlist</h2>
                             <div class="wishlist-right-block active">
                                <div class="wishlist-flex-justify">
                                    <p class="wishlist-right-items">
                                        <span class="">1 </span> items
                                    </p>
                                    <a href="#" class="wishlist-link wishlist-btn-share">share wishlist</a>
                                </div>
                                <div class="wishlist-flex-card">
                                    <div class="wishlist-card">
                                        <img src="" alt="" class="wishlist-img">
                                        <svg class="wishlist-heart " width="18" height="16" viewBox="0 0 18 16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.69616 1.95451L9.04875 2.3052L9.40135 1.95451C10.3242 1.03665 11.5082 0.5 12.7688 0.5C15.4275 0.5 17.5871 2.59067 17.4973 5.18268L17.497 5.19134V5.2C17.497 6.47487 17.0418 7.6441 16.1375 8.54422C16.1371 8.54464 16.1367 8.54507 16.1362 8.54549L9.04416 15.5C9.02061 15.5 9.00081 15.4999 8.98022 15.4989C8.9686 15.4984 8.9584 15.4977 8.94956 15.4968L1.86072 8.54549C1.86033 8.5451 1.85993 8.54471 1.85954 8.54431C0.955155 7.64418 0.5 6.47492 0.5 5.2C0.5 2.59097 2.67408 0.5 5.32871 0.5C6.58928 0.5 7.77333 1.03665 8.69616 1.95451Z" stroke="black"/>
                                        </svg>
                                        <p class="wishlist-name">st.louis mirrored
                                            <span class="wishlist-name-span">d’oro</span>
                                        </p>
                                        <p class="wishlist-price">$ 295.00</p>
                                        <button class="wishlist-btn btn">add to bag</button>
                                    </div>
                                    <div class="wishlist-card">
                                        <img src="" alt="" class="wishlist-img">
                                        <svg class="wishlist-heart " width="18" height="16" viewBox="0 0 18 16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.69616 1.95451L9.04875 2.3052L9.40135 1.95451C10.3242 1.03665 11.5082 0.5 12.7688 0.5C15.4275 0.5 17.5871 2.59067 17.4973 5.18268L17.497 5.19134V5.2C17.497 6.47487 17.0418 7.6441 16.1375 8.54422C16.1371 8.54464 16.1367 8.54507 16.1362 8.54549L9.04416 15.5C9.02061 15.5 9.00081 15.4999 8.98022 15.4989C8.9686 15.4984 8.9584 15.4977 8.94956 15.4968L1.86072 8.54549C1.86033 8.5451 1.85993 8.54471 1.85954 8.54431C0.955155 7.64418 0.5 6.47492 0.5 5.2C0.5 2.59097 2.67408 0.5 5.32871 0.5C6.58928 0.5 7.77333 1.03665 8.69616 1.95451Z" stroke="black"/>
                                        </svg>
                                        <p class="wishlist-name">st.louis mirrored
                                            <span class="wishlist-name-span">d’oro</span>
                                        </p>
                                        <p class="wishlist-price">$ 295.00</p>
                                        <button class="wishlist-btn btn">add to bag</button>
                                    </div>
                                    <div class="wishlist-card">
                                        <img src="" alt="" class="wishlist-img">
                                        <svg class="wishlist-heart " width="18" height="16" viewBox="0 0 18 16" fill="#000000" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.69616 1.95451L9.04875 2.3052L9.40135 1.95451C10.3242 1.03665 11.5082 0.5 12.7688 0.5C15.4275 0.5 17.5871 2.59067 17.4973 5.18268L17.497 5.19134V5.2C17.497 6.47487 17.0418 7.6441 16.1375 8.54422C16.1371 8.54464 16.1367 8.54507 16.1362 8.54549L9.04416 15.5C9.02061 15.5 9.00081 15.4999 8.98022 15.4989C8.9686 15.4984 8.9584 15.4977 8.94956 15.4968L1.86072 8.54549C1.86033 8.5451 1.85993 8.54471 1.85954 8.54431C0.955155 7.64418 0.5 6.47492 0.5 5.2C0.5 2.59097 2.67408 0.5 5.32871 0.5C6.58928 0.5 7.77333 1.03665 8.69616 1.95451Z" stroke="black"/>
                                        </svg>
                                        <p class="wishlist-name">st.louis mirrored
                                            <span class="wishlist-name-span">d’oro</span>
                                        </p>
                                        <p class="wishlist-price">$ 295.00</p>
                                        <button class="wishlist-btn btn">add to bag</button>
                                    </div>


                                </div>


                                <div class="wishlist-share wishlist-flex-center">
                                <p class="wishlist-link wishlist-noitems">You have no items in your wishlist</p>
                                <div class="wishlist-flex-card">
                                    <a href="#" class="wishlist-noitems-card">
                                        <img src="" alt="" class="wishlist-noitems-img">
                                        <p class="wishlist-noitems-title">just dropped</p>
                                    </a>
                                    <a href="" class="wishlist-noitems-card">
                                        <img src="" alt="" class="wishlist-noitems-img">
                                        <p class="wishlist-noitems-title">just dropped</p>
                                    </a>
                                    <a href="" class="wishlist-noitems-card">
                                        <img src="" alt="" class="wishlist-noitems-img">
                                        <p class="wishlist-noitems-title">just dropped</p>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="wishlist-right-list">
                            <h2 class="wishlist-title"><img src="img/arrow-left.svg" alt="" class="wishlist-left-back"> order history</h2>
                            <p class="wishlist-text">YOU HAVEN'T PLACED ANY ORDERS YET.</p>
                        </li>
                        <li class="wishlist-right-list ">
                            <h2 class="wishlist-title"><img src="img/arrow-left.svg" alt="" class="wishlist-left-back"> SAVED ADDRESSES</h2>
                            <div class="wishlist-add active">
                                <div class="wishlist-add-flex">
                                    <ul class="wishlist-add-menu">
                                        <li class="wishlist-add-list">Sergey Ridtz</li>
                                        <li class="wishlist-add-list">EyeSociety</li>
                                        <li class="wishlist-add-list">Costa Rica 9</li>
                                        <li class="wishlist-add-list">Flodi 2</li>
                                        <li class="wishlist-add-list">Lviv</li>
                                        <li class="wishlist-add-list">80000</li>
                                        <li class="wishlist-add-list">Ukraine</li>
                                        <li class="wishlist-add-list default">Default shipping address</li>
                                    </ul>
                                    <ul class="wishlist-add-edits">
                                        <li>
                                            <a href="" class="wishlist-link wishlist-add-edit">edit</a>
                                        </li>
                                        <li>
                                            <a href="" class="wishlist-link wishlist-add-edit wishlist-delete">delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <button  class="btn wishlist-form-btn wishlist-white wishlist-btn-add">add a new address</button>
                            </div>
                            <form class="wishlist-form">
                                <div class="wishlist-form-block">
                                    <div class="wishlist-form-flex">
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">first name</p>
                                            <input type="text" class="wishlist-form-input">
                                        </div>
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">last name</p>
                                            <input type="text" class="wishlist-form-input">
                                        </div>
                                    </div>
                                    <div class="wishlist-form-field">
                                        <p class="wishlist-form-text">company</p>
                                        <input type="text" class="wishlist-form-input">
                                    </div>
                                    <div class="wishlist-form-field">
                                        <p class="wishlist-form-text">address 1</p>
                                        <input type="text" class="wishlist-form-input">
                                    </div>
                                    <div class="wishlist-form-flex">
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">address 2</p>
                                            <input type="text" class="wishlist-form-input">
                                        </div>
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">city</p>
                                            <input type="text" class="wishlist-form-input">
                                        </div>
                                    </div>
                                    <div class="wishlist-form-flex">
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">country</p>
                                            <select class="wishlist-select">
                                                <option>israel</option>
                                                <option>israel</option>
                                            </select>
                                        </div>
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">state</p>
                                            <select class="wishlist-select">
                                                <option>alabama</option>
                                                <option>alabama</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="wishlist-form-flex">
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">postal / zip code</p>
                                            <input type="number" class="wishlist-form-input">
                                        </div>
                                        <div class="wishlist-form-field">
                                            <p class="wishlist-form-text">phone</p>
                                            <input type="number" class="wishlist-form-input">
                                        </div>
                                    </div>
                                    <label class="wishlist-form-label">
                                        <input type="checkbox" class="checkbox">
                                        <span class="wishlist-form-check"></span>
                                        <span class="wishlist-form-item">set as default address</span>
                                    </label>
                                </div>

                                <div class="wishlist-flex wishlist-flex-btns">
                                    <button class="btn wishlist-form-btn">save</button>
                                    <button class="btn wishlist-form-btn">cancel</button>
                                    <button class="btn wishlist-form-btn wishlist-white">delete</button>
                                </div>
                                <button type="submit" class="btn wishlist-white wishlist-btn-add">add a new address</button>
                            </form>
                        </li>
                        <li class="wishlist-right-list ">
                            <h2 class="wishlist-title"><img src="img/arrow-left.svg" alt="" class="wishlist-left-back"> account information</h2>
                            <form class="wishlist-form-information form-information">
                                <div class="wishlist-form-field form-information-flex">
                                    <p class="wishlist-form-text">first name</p>
                                    <input type="text" class="wishlist-form-input">
                                    <div class="form-information-block">
                                        <a href="" class="wishlist-link form-information-edit">edit</a>
                                    </div>
                                </div>
                                <div class="wishlist-form-field form-information-flex">
                                    <p class="wishlist-form-text">last name</p>
                                    <input type="text" class="wishlist-form-input">
                                    <div class="form-information-block">
                                        <a href="" class="wishlist-link form-information-edit">edit</a>
                                    </div>
                                </div>
                                <div class="wishlist-form-field form-information-flex">
                                    <p class="wishlist-form-text">email</p>
                                    <input type="text" class="wishlist-form-input">
                                    <div class="form-information-block">
                                        <a href="" class="wishlist-link form-information-edit form-information-change">change</a>
                                    </div>
                                </div>
                                <div class="wishlist-flex">
                                    <button type="submit" class="btn wishlist-form-btn">update</button>
                                    <button class="btn wishlist-form-btn wishlist-white">cancel</button>
                                </div>
                            </form>
                            <div class="popup popup-reset active">
                                <div class="popup-reset-container">
                                    <svg class="popup-reset-close" width="17" height="17" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L21 21M21 1L1 21" stroke="black"/>
                                    </svg>
                                    <p class="popup-reset-title">reset password</p>
                                    <p class="popup-reset-text">We will send you an email to reset your password.</p>
                                    <a href="#" class="btn popup-reset-btn">confirm</a>
                                </div>
                            </div>
                        </li>
                        <li class="wishlist-right-list ">
                            <h2 class="wishlist-title"><img src="img/arrow-left.svg" alt="" class="wishlist-left-back"> rewards</h2>
                            <div class="wishlist-rewards">
                                <p class="wishlist-rewards-title">
                                    NEW TO EYE SOCIETY?
                                    <span class="wishlist-rewards-span">Earn 1 point back per $1 spent.</span>
                                </p>
                                <div class="wishlist-rewards-point">
                                    <p class="wishlist-rewards-main">
                                        points
                                        <span class="wishlist-rewards-number">50</span>
                                    </p>
                                    <a href="#" class="wishlist-rewards-link ">earn or redeem points</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
@import "footer.html"
</div>


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
