.rewards
  &-title
    font-family: "ploni-light", sans-serif
    font-size: 50px
    line-height: 73px
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: #000000
  &-place
    margin: 0 auto 17px
    display: block
    position: relative
    width: 160px
    height: 160px
    &-text
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      display: block
      font-family:  "ploni-regular", sans-serif
      font-size: 16px
      line-height: 24px
      text-align: center
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #000000
    &-pts
      font-family:  "ploni-light", sans-serif
      font-size: 14px
      line-height: 21px
      text-align: center
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #000000
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
  &-text
    font-family: "ploni-light", sans-serif
    font-size: 14px
    line-height: 20px
    text-align: center
    letter-spacing: 0.04em
    text-transform: uppercase
    color: #000000
    margin-bottom: 1.5em
  &-btn
    max-width: 300px
    margin: 0 auto 17px
  &-down
    margin: 5px auto 0
    display: block

  &-first
    display: flex
  &-half
    width: 50%
    min-height: 600px
    &-img
      width: 100%
      height: 100%
      object-fit: cover
      background: #BCBEC0
    &-container
      padding: 30px 2.7vw 28px
  &-container
    max-width: 1285px
    width: 100%
    margin: 0 auto
    padding: 0 20px
  &-second
    padding: 105px 0 95px
    &-flex
      display: flex
      justify-content: space-between
    &-title
      font-family: "ploni-light", sans-serif
      font-size: 40px
      line-height: 105%
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #000000
    &-text
      text-align: left
      letter-spacing: 0.1em
      margin-top: 20px
    &-btn
      font-size: 12px
      letter-spacing: 0.2em
  &-left
    max-width: 300px
    width: 100%
    margin-right: 30px
  &-right
    max-width: 920px
    width: 100%
    &-title
      font-family: "ploni-regular", sans-serif
      font-size: 12px
      line-height: 18px
      letter-spacing: 0.1em
      text-transform: uppercase
      color: #000000
      position: relative
      width: max-content
    &-line
      width: 100%
      margin-left: 20px
      height: 1px
      background: #BCBEC0

