<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>society</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=375, maximum-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Assistant:300,400,700" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="rewards">
    <section class="rewards-first">
        <div class="rewards-half">
            <img src="img/visit.jpg" alt="" class="rewards-half-img">
        </div>
        <div class="rewards-half">
            <div class="rewards-half-container">
                <h1 class="rewards-title">Eyesociety insider</h1>
                <div class="rewards-place">
                    <svg width="160" height="160" viewBox="0 0 160 160" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M120 149.282C135.251 140.477 147.171 126.885 153.91 110.615C160.65 94.3445 161.832 76.3051 157.274 59.2945C152.716 42.2838 142.672 27.2525 128.701 16.5317C114.729 5.81099 97.6107 -5.38627e-06 80 -3.49691e-06C62.3893 -1.60755e-06 45.2706 5.81099 31.2991 16.5317C17.3275 27.2525 7.28392 42.2838 2.72593 59.2945C-1.83207 76.3051 -0.649708 94.3445 6.08964 110.615C12.829 126.885 24.7487 140.477 40 149.282L80 80L120 149.282Z" fill="#F8F8F8"/>
                        <path d="M-3.49691e-06 80C-4.11075e-06 94.0429 3.6965 107.838 10.718 120C17.7394 132.162 27.8384 142.261 40 149.282L80 80L-3.49691e-06 80Z" fill="black"/>
                        <circle cx="80" cy="80" r="70" fill="white"/>
                    </svg>
                    <p class="rewards-place-text">
                        <span>earn</span>
                        <span>your</span>
                        <span>place</span>
                    </p>
                    <p class="rewards-place-pts">50 pts</p>
                </div>
                <div class="rewards-content">
                    <p class="rewards-text">
                        OUR COMMUNITY MEANS EVERYTHING TO US. THAT’S WHY WE WANT TO OFFER YOU ALL THE BENEFITS OF OUR NEW LOYALTY PROGRAM. JOIN THE MVMT LIKE NEVER BEFORE BY EARNING POINTS TOWARDS REWARDS & ACCESSING BRAND EXCLUSIVES.
                    </p>
                    <p class="rewards-text">
                        TO BECOME A MEMBER, JUST CREATE AN ACCOUNT AND EARN POINTS IMMEDIATELY. YOUR FIRST 50 POINTS ARE ON US!
                    </p>
                    <p class="rewards-text">
                        ALREADY HAVE A MVMT ACCOUNT? YOU’RE AUTOMATICALLY PART OF MVMT INSIDER! UNLOCK YOUR POINTS BY LOGGING INTO YOUR ACCOUNT.
                    </p>
                </div>
                <a href="" class="btn rewards-btn">join/log into insiders</a>
                <p class="rewards-text">
                    learn about points and rewards
                </p>
                <svg class="rewards-down" width="11" height="33" viewBox="0 0 11 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 27L6 32L10.5 27.5M6 0V3M6 6V9M6 12V15M6 18V21M6 24V27" stroke="black"/>
                </svg>
            </div>
        </div>
    </section>
    <section class="rewards-second">
        <div class="container">
            <div class="rewards-flex">
                <div class="rewards-left">
                    <p class="rewards-second-title">
                        earn points,
                        get rewards
                    </p>
                    <p class="rewards-text rewards-second-text">FOR EVERY $1 SPENT, 1 POINT WILL BE ADDED TO YOUR POINT BALANCE. EACH POINT WILL GO TOWARDS UNLOCKING STORE CREDIT, AND POINTS NEVER EXPIRE. AND IT’S NOT JUST PURCHASING THAT CAN EARN YOU POINTS. CHECK OUT THE 10 EASY WAYS TO EARN POINTS NOW!</p>
                    <p class="rewards-text rewards-second-text">
                        AT CHECKOUT, YOU'LL BE ABLE TO DECIDE HOW MANY POINTS YOU WANT TO APPLY TO YOUR ORDER.</p>
                    <a href="" class="btn rewards-second-btn">become an insider</a>
                </div>
                <div class="rewards-right">
                    <div class="rewards-flex-align">
                        <p class="rewards-right-title">one time only</p>
                        <div class="rewards-line"></div>
                    </div>
                    <div class="rewards-second-cards">
                        <div class="rewards-card">
                            <img src="img/welcome.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">welcome points</p>
                            <div class="rewards-card-btn btn">50 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/like.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">FACEBOOK LIKE</p>
                            <div class="rewards-card-btn btn">5 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/youtube-follow.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">youtube follow</p>
                            <div class="rewards-card-btn btn">5 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/instagram-follow.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">instagram follow</p>
                            <div class="rewards-card-btn btn">5 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/join-newsletter.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">join newsletter</p>
                            <div class="rewards-card-btn btn">50 pts</div>
                        </div>
                    </div>
                    <div class="rewards-flex-align">
                        <p class="rewards-right-title">come back for more</p>
                        <div class="rewards-line"></div>
                    </div>
                    <div class="rewards-card_big">
                        <a href="#" class="rewards-card-block rewards-card-left">
                            <svg class="rewards-card-img" width="24" height="30" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.5454 16.7273L8.18176 13.8182" stroke="#BCBEC0" stroke-miterlimit="10"/>
                                <path d="M12.5454 7.27274L8.18176 10.1818" stroke="#BCBEC0" stroke-miterlimit="10"/>
                                <path d="M15.2727 8.72728C17.0802 8.72728 18.5455 7.26203 18.5455 5.45455C18.5455 3.64707 17.0802 2.18182 15.2727 2.18182C13.4652 2.18182 12 3.64707 12 5.45455C12 7.26203 13.4652 8.72728 15.2727 8.72728Z" stroke="#BCBEC0" stroke-miterlimit="10"/>
                                <path d="M15.2727 21.8182C17.0802 21.8182 18.5455 20.3529 18.5455 18.5455C18.5455 16.738 17.0802 15.2727 15.2727 15.2727C13.4652 15.2727 12 16.738 12 18.5455C12 20.3529 13.4652 21.8182 15.2727 21.8182Z" stroke="#BCBEC0" stroke-miterlimit="10"/>
                                <path d="M5.45449 15.2727C7.26197 15.2727 8.72722 13.8075 8.72722 12C8.72722 10.1925 7.26197 8.72728 5.45449 8.72728C3.64701 8.72728 2.18176 10.1925 2.18176 12C2.18176 13.8075 3.64701 15.2727 5.45449 15.2727Z" stroke="#BCBEC0" stroke-miterlimit="10"/>
                            </svg>

                            <p class="rewards-card-title">refer a friend</p>
                            <p class="rewards-card-btn btn">100 pts</p>
                        </a>
                        <div class="rewards-card-block">
                            <img src="img/visit.jpg" alt="" class="rewards-card-main">
                        </div>
                    </div>
                    <div class="rewards-second-cards">

                        <div class="rewards-card">
                            <img src="img/order.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">PLACE AN ORDER</p>
                            <div class="rewards-card-btn btn">50 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/like.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">FACEBOOK SHARE</p>
                            <div class="rewards-card-btn btn">5 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/share.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">TWITTER SHARE</p>
                            <div class="rewards-card-btn btn">5 pts</div>
                        </div>
                        <div class="rewards-card">
                            <img src="img/review.svg" alt="" class="rewards-card-img">
                            <p class="rewards-card-title">PRODUCT REVIEW</p>
                            <div class="rewards-card-btn btn">5 pts</div>
                        </div>

                    </div>
                    <div class="rewards-flex-align">
                        <p class="rewards-right-title">rewards</p>
                        <div class="rewards-line"></div>
                    </div>
                    <div class="rewards-second-cards">
                        <div class="rewards-second-card">
                            <p class="rewards-second-item">
                                250 pts
                                <span class="rewards-second-span">$25 off</span>
                            </p>
                        </div>
                        <div class="rewards-second-card">
                            <p class="rewards-second-item">
                                500 pts
                                <span class="rewards-second-span">$50 off</span>
                            </p>
                        </div>
                        <div class="rewards-second-card">
                            <p class="rewards-second-item">
                                750 pts
                                <span class="rewards-second-span">$75 off</span>
                            </p>
                        </div>
                        <div class="rewards-second-card">
                            <p class="rewards-second-item">
                                1000 pts
                                <span class="rewards-second-span">$100 off</span>
                            </p>
                        </div>
                    </div>
                    <div class="rewards-flex-align">
                        <p class="rewards-right-title">how to redeem</p>
                        <div class="rewards-line"></div>
                    </div>
                    <div class="rewards-flex rewards-second-available">
                        <p class="rewards-second-bold">LOOK FOR THIS REDEMPTION<br>AREA IN THE CART AT<br>CHECKOUT!</p>
                        <img src="img/arrow-right-dashed.svg" alt="" class="rewards-arrow-right">
                        <div class=" rewards-available">
                            <p class="rewards-available-text">
                                150 points available
                                <span class="rewards-available-span">choose reward<img src="img/arrow-down.svg" alt="" class="rewards-arrow-down"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="rewards-third">
        <div class="rewards-container">
            <h2 class="rewards-third-title">faqs</h2>
            <ul class="rewards-third-menu">
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main active">what is eyesociety insider?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus active"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop active">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">DO POINTS EXPIRE?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">HOW DO I JOIN MVMT INSIDER?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">HOW DO I EARN POINTS?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">HOW DO I CHECK MY POINTS BALANCE?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">WHAT HAPPENS TO MY POINTS WHEN I RETURN ITEMS?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">HOW DO I SPEND MY POINTS?</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
                <li class="rewards-third-list">
                    <div class="rewards-third-item">
                        <p class="rewards-third-main">I PERFORMED AN ACTION TO EARN POINTS, BUT MY POINTS AREN’T SHOWING UP.</p>
                        <div class="rewards-third-change">
                            <span class="rewards-third-plus"></span>
                            <span class="rewards-third-minus"></span>
                        </div>
                    </div>
                    <div class="rewards-third-drop">
                        <p class="rewards-third-text">Many ways! You’ll earn points just by joining MVMT Insider. After that, points can be earned with each purchase, as well as sharing and following us on social media. See our full list of ways to earn above!</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
@import "footer.html"
<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
